<section class="mt-3">
    <h1 class="section-title mb-3">Realização</h1>
    <div class="logos">
        <a class="mb-3 me-5" href="https://www.conservation-strategy.org/" target="_blank">
            <img src="./assets/images/logos/realizacao/csf.png" alt="CSF Brasil">
        </a>
        <a class="mb-3 me-5" href="https://xingumais.org.br/" target="_blank">
            <img src="./assets/images/logos/realizacao/rede_xingu.png" alt="Rede Xingu +"
            style="filter: contrast(0.8) grayscale(1) brightness(0.5); max-width: 170px;">
        </a>
        <a class="mb-3 me-5" href="https://www.socioambiental.org/" target="_blank">
            <img src="./assets/images/logos/realizacao/instituto_socioambiental.png"
                alt="Programa Xingu / Instituto Socioambiental">
        </a>
    </div>
</section>