<div class="row">
    <div class="col-lg-4 mb-3">
        <div class="card h-100">
            <div class="card-body d-flex flex-column">
                <h5 class="card-title">Versão Básica</h5>
                <div class="d-flex flex-column justify-content-between h-100">
                    <p class="card-text">
                        Calcula o custo total de implementação de todas as atividades em uma terra indígena selecionada.
                    </p>
                    <a routerLink="/calculadora-basica" class="btn btn-sm btn-secondary w-50">Ir para calculadora</a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4 mb-3">
        <div class="card h-100">
            <div class="card-body d-flex flex-column">
                <h5 class="card-title">Versão Agrupada</h5>
                <div class="d-flex flex-column justify-content-between h-100">
                    <p class="card-text">
                        Calcula o custo total de implementação de eixo(s) selecionado(s) em uma ou mais terras
                        indígenas.
                    </p>
                    <a routerLink="/calculadora-agrupada" class="btn btn-sm btn-secondary w-50">Ir para calculadora</a>
                </div>

            </div>
        </div>
    </div>
    <div class="col-lg-4 mb-3">
        <div class="card h-100">
            <div class="card-body d-flex flex-column">
                <h5 class="card-title">Versão Detalhada</h5>
                <div class="d-flex flex-column justify-content-between h-100">
                    <p class="card-text">
                        Calcula o custo de implementação por atividade em uma Terra Indígena, sendo possível mudar os
                        valores das características da Terra Indígena e definir o nível de implementação.
                    </p>
                    <a routerLink="/calculadora-detalhada" class="btn btn-sm btn-secondary w-50">Ir para calculadora</a>
                </div>

            </div>
        </div>
    </div>
</div>