<div *ngIf="selectedLanguage== 'pt'">
    <app-eixos-mobile1-pt></app-eixos-mobile1-pt>
    <app-eixos-mobile2-pt></app-eixos-mobile2-pt>
    <app-eixos-mobile3-pt></app-eixos-mobile3-pt>
    <app-eixos-mobile4-pt></app-eixos-mobile4-pt>
</div>
<div *ngIf="selectedLanguage== 'es'">
    <app-eixos-mobile1-es></app-eixos-mobile1-es>
    <app-eixos-mobile2-es></app-eixos-mobile2-es>
    <app-eixos-mobile3-es></app-eixos-mobile3-es>
    <app-eixos-mobile4-es></app-eixos-mobile4-es>
</div>
<div *ngIf="selectedLanguage== 'en'">
    <app-eixos-mobile1-en></app-eixos-mobile1-en>
    <app-eixos-mobile2-en></app-eixos-mobile2-en>
    <app-eixos-mobile3-en></app-eixos-mobile3-en>
    <app-eixos-mobile4-en></app-eixos-mobile4-en>
</div>