<app-header title="Equipe"></app-header>

<div class="container main-container">
    <section class="mb-5">
        <h1 class="section-title">Coordenação Geral</h1>
        <p class="mb-0">André Villa-Bôas</p>
        <p class="mb-0">Pedro Gasparinetti</p>
    </section>
    <section class="mb-5">
        <h1 class="section-title">Líder Técnico</h1>
        <p class="mb-0">Pedro Gasparinetti</p>
    </section>
    <section class="mb-5">
        <h1 class="section-title">Desenvolvimento Conceitual</h1>
        <p class="mb-0">André Villas-Bôas</p>
        <p class="mb-0">Júlia Queiroz</p>
        <p class="mb-0">Leonardo Bakker</p>
        <p class="mb-0">Leonardo Geluda</p>
        <p class="mb-0">Maria Beatriz Nogueira Ribeiro</p>
        <p class="mb-0">Mariel Mitsuri Nakane Aramaki</p>
        <p class="mb-0">Meline Cabral Machado</p>
        <p class="mb-0">Pedro Gasparinetti</p>
    </section>
    <section class="mb-5">
        <h1 class="section-title">Modelagem Econométrica de Custos</h1>
        <p class="mb-0">Pedro Gasparinetti</p>
        <p class="mb-0">Leonardo Bakker</p>
        <p class="mb-0">Victor Araujo</p>
    </section>
    <section class="mb-5">
        <h1 class="section-title">Coleta de Dados e Estruturação dos Custos</h1>
        <p class="mb-0">Meline Cabral Machado</p>
    </section>
    <section class="mb-5">
        <h1 class="section-title">WEBSITE</h1>
        <h5>Desenvolvimento e Design do Site</h5>
        <p class="mb-0">Marcelo Queiroz das Chagas</p>

        <h5 class="mt-3">Revisão de Conteúdo</h5>
        <p class="mb-0">Luisa Turbay</p>
        <p class="mb-0">Maria Beatriz Nogueira Ribeiro</p>
        <p class="mb-0">Meline Cabral Machado</p>
        <p class="mb-0">Victor Araújo</p>
        <p class="mb-0">Silia Moan da Silva</p>
    </section>
    <app-realizacao></app-realizacao>
    <app-apoio></app-apoio>
    <app-parceiros></app-parceiros>
</div>