<div class="modal-body">
    <form [formGroup]="formulario">
        <label>Atividades</label>
        <select class="form-select form-select-sm" required (change)="selecionarAtividade()" formControlName="atividade"
            [ngClass]="{ 'is-invalid': formularioEnviado&&formulario.controls.atividade.invalid}">

            <optgroup *ngFor="let eixo of eixos" [label]="eixo.nome">
                <option *ngFor="let atividade of eixo.atividades" [ngValue]="atividade">{{atividade.nome}}</option>
            </optgroup>
        </select>
    </form>

    <div class="mt-3" *ngIf="atividadeSelecionada">
        <strong>{{atividadeSelecionada.nome}}</strong>
        <p>{{atividadeSelecionada.descricao}}</p>
        <ul>
            <li>Básico:
                <ul>
                    <li *ngFor="let custo of atividadeSelecionada.custoBasico">{{custo}}</li>
                </ul>
            </li>

            <li>Bom:
                <ul>
                    <li *ngFor="let custo of atividadeSelecionada.custoBom">{{custo}}</li>
                </ul>
            </li>
        </ul>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-sm btn-secondary" (click)="continuar()">Continuar</button>
    <button type="button" class="btn btn-sm btn-outline-secondary" (click)="fechar()">Cancelar</button>
</div>