<app-header title="Links Úteis"></app-header>

<div class="container main-container">
    <section class="mb-5">
        <h3>CSF Brasil</h3>
        <a href="https://www.conservation-strategy.org/" target="_blank">conservation-strategy.org</a>
    </section>
    <section class="mb-5">
        <h3>Instituto Socioambiental</h3>
        <a href="https://www.socioambiental.org/" target="_blank">socioambiental.org</a>
    </section>
    <section class="mb-5">
        <h3>Rede Xingu+</h3>
        <a href="https://xingumais.org.br/" target="_blank">xingumais.org.br</a>
    </section>
</div>