<app-header title="Links Úteis"></app-header>

<div class="container main-container">
    <section class="mb-5">
        <h3 class="mb-0">Site Povos Indígenas do Brasil:</h3>
        <a href="https://pib.socioambiental.org/pt/P%C3%A1gina_principal" target="_blank">pib.socioambiental.org/pt</a>
    </section>
    <section class="mb-5">
        <h3 class="mb-0">Site Terras Indígenas do Brasil:</h3>
        <a href="https://terrasindigenas.org.br/" target="_blank">terrasindigenas.org.br</a>
    </section>
    <section class="mb-5">
        <h3 class="mb-0">Acervo da Rede Xingu+:</h3>
        <a href="https://xingumais.org.br/acervo" target="_blank">xingumais.org.br/acervo</a>
    </section>

    <section class="mb-5">
        <h3 class="mb-0">Observatórios Rede Xingu:</h3>
        <a href="http://xingumais.org.br/observatorios" target="_blank">xingumais.org.br/observatorios</a>
    </section>
    <section class="mb-5">
        <h3 class="mb-0">Sistema de Indicação por Radar de Desmatamento – Xingu (Sirad X):</h3>
        <a href="https://xingumais.org.br/categoria/sirad-x" target="_blank">xingumais.org.br/categoria/sirad-x</a>
    </section>
</div>