<app-header title="Versão Básica"></app-header>
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <section>
                <h1 class="section-title">Guia de Uso</h1>
                <div class="alert alert-info">
                    <p>
                        Calcula o custo total de implementação de todos os eixos temáticos em uma Terra Indígena
                        selecionada. O usuário escolhe apenas se o objetivo é que todas as atividades da Terra Indígena
                        selecionada atinjam o nível de implementação básico ou bom. Nessa versão não é possível
                        selecionar apenas uma atividade ou eixo temático, nem mais de uma Terra Indígena. Essa versão é
                        indicada para quem pretende ter informações gerais de custo de implementação das atividades em
                        apenas uma Terra Indígena selecionada.
                    </p>
                </div>
            </section>
        </div>
        <div class="col-md-6"></div>
    </div>
</div>