.cls-1,
.cls-19,
.cls-20,
.cls-22,
.cls-23,
.cls-24,
.cls-25,
.cls-33,
.cls-49 {
  fill: none;
}

.cls-2 {
  fill: #d6432b;
}

.cls-3 {
  clip-path: url(#clip-path);
}

.cls-4 {
  clip-path: url(#clip-path-2);
}

.cls-5 {
  fill: #073c29;
}

.cls-6 {
  fill: #bf7a4b;
}

.cls-7 {
  fill: #4e8974;
}

.cls-10,
.cls-11,
.cls-15,
.cls-16,
.cls-8 {
  fill: #d9cfc7;
}

.cls-38,
.cls-39,
.cls-8 {
  stroke: #000;
  stroke-width: 0.5px;
}

.cls-11,
.cls-15,
.cls-16,
.cls-19,
.cls-20,
.cls-22,
.cls-23,
.cls-24,
.cls-25,
.cls-33,
.cls-38,
.cls-39,
.cls-49,
.cls-8 {
  stroke-miterlimit: 10;
}

.cls-9 {
  fill: #5baec1;
}

.cls-11,
.cls-15,
.cls-16 {
  stroke: #8f857d;
}

.cls-11 {
  stroke-width: 0.99px;
}

.cls-12 {
  fill: #8f857d;
}

.cls-13 {
  fill: #1d1e1c;
}

.cls-14 {
  fill: #c98a45;
}

.cls-15 {
  stroke-width: 1.36px;
}

.cls-16 {
  stroke-width: 1.01px;
}

.cls-17,
.cls-38 {
  fill: #192a33;
}

.cls-18 {
  fill: #507659;
}

.cls-19,
.cls-20,
.cls-22,
.cls-23,
.cls-24,
.cls-25 {
  stroke: #4c8973;
}

.cls-19 {
  stroke-width: 0.27px;
}

.cls-20 {
  stroke-width: 0.24px;
}

.cls-21 {
  fill: #2a5646;
}

.cls-22 {
  stroke-width: 0.28px;
}

.cls-23 {
  stroke-width: 0.25px;
}

.cls-24 {
  stroke-width: 0.26px;
}

.cls-25 {
  stroke-width: 0.23px;
}

.cls-26,
.cls-39 {
  fill: #fff;
}

.cls-27 {
  fill: #2f7dd1;
}

.cls-28 {
  fill: #f18918;
}

.cls-29 {
  fill: #9e4f33;
}

.cls-30 {
  fill: #e2b307;
}

.cls-31 {
  fill: #b55d37;
}

.cls-32 {
  clip-path: url(#clip-path-3);
}

.cls-33 {
  stroke: #192a33;
  stroke-width: 1.69px;
}

.cls-34 {
  fill: #9e482b;
}

.cls-35 {
  fill: #357c38;
}

.cls-36 {
  fill: #e1b209;
}

.cls-37 {
  fill: #243346;
}

.cls-40,
.cls-42 {
  font-size: 13.06px;
  font-family: Raleway-Medium, Raleway;
  font-weight: 500;
}

.cls-40,
.cls-44 {
  letter-spacing: 0.1em;
}

.cls-41 {
  letter-spacing: 0.07em;
}

.cls-42 {
  letter-spacing: 0.1em;
}

.cls-43 {
  letter-spacing: 0.08em;
}

.cls-45 {
  letter-spacing: 0.06em;
}

.cls-46 {
  letter-spacing: 0.08em;
}

.cls-47 {
  letter-spacing: 0.09em;
}

.cls-48 {
  letter-spacing: 0.09em;
}

.cls-49 {
  stroke: #dbb88d;
}
