.table {
  caption-side: top;
}

#resultado {
  scroll-margin-top: 100px;
}

.resultado-tipo-custo {
  font-family: "Montserrat";
}

.resultado-section-sub-title {
  font-size: 1.5rem;
  font-weight: 550;
  font-family: "Montserrat", sans-serif;
  margin-bottom: 2rem;
}

.video {
  position: relative;
  padding-bottom: 56.25%;
}

.video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
