#header {
  padding: 120px 0;
}

#info {
  padding: 90px 0;
}

#form {
  padding: 90px 0;
}

#resultados {
  padding: 40px 0;
}

#custos_por_eixos {
  padding: 40px 0;
}

.link_pgta {
  align-self: center;
  width: 90px;
  height: 90px;
  background: #b20000;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  padding: 10px;
  text-align: center;
  color: #ffffff;
  text-decoration: none;
  font-family: "Gudea";
  cursor: pointer;
  transition: 0.3s;
}

.link_pgta:hover {
  transform: scale(110%);
}

.table {
  caption-side: top;
}

#resultado {
  scroll-margin-top: 100px;
}

.box-result {
  background: #ffffff;
  border-radius: 28px;
  padding: 20px;
  font-family: "Gudea";
  font-size: 18px;
}

.resultado-tipo-custo {
  font-weight: bold;
}

.resultado-section-sub-title {
  font-size: 1.5rem;
  font-weight: 550;
  font-family: "Montserrat", sans-serif;
  margin-bottom: 2rem;
}

.video {
  position: relative;
  padding-bottom: 56.25%;
}

.video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
