<section class="section-container" id="header">
    <div class="container">
        <h1 class="section-title text-center">
            {{'indigenous-land-calculator.title' | translate}}
        </h1>
    </div>
</section>

<section class="section-container bg-gray" id="info">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="video">
                    <iframe frameborder="0" allowfullscreen
                        src="https://www.youtube.com/embed/WvCzl1QRfnw?si=c1RAKyFQ9RM6HFSd" title="Video Tutorial"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                        referrerpolicy="strict-origin-when-cross-origin">
                    </iframe>
                </div>
            </div>
            <div class="col-lg-6 mt-5 mt-lg-0">
                <p>
                    {{'indigenous-land-calculator.section-info.paragraph-1' | translate}}
                </p>
                <p>
                    {{'indigenous-land-calculator.section-info.paragraph-2' | translate}}
                </p>
                <p>
                    {{'indigenous-land-calculator.section-info.paragraph-3' | translate}}
                </p>
                <p>
                    {{'indigenous-land-calculator.section-info.paragraph-4' | translate}}
                </p>
            </div>
        </div>
    </div>
</section>

<section class="section-container bg-white" id="form">
    <div class="container">
        <div class="row d-flex align-items-center">
            <div class="col-lg-6">
                <form [formGroup]="calculadoraForm" class="calculadora-form">
                    <div class="row">
                        <!-- indigenous-land -->
                        <div class="col-12">
                            <label class="form-label">
                                <span>
                                    {{'form.indigenous-land.name' | translate}}
                                </span>
                            </label>
                            <select class="form-select" required (change)="selecionarTerraIndigena()"
                                [ngClass]="{ 'is-invalid': calculadoraFormEnviado&&calculadoraForm.controls.terraIndigena.invalid}"
                                formControlName="terraIndigena">
                                <option [value]="null" disabled selected>
                                    {{'form.indigenous-land.placeholder' | translate}}
                                </option>
                                <optgroup *ngFor="let grupo of grupoTerrasIndigenas"
                                    label="{{'indigenous-land-groups.value-' + grupo.id | translate}}">
                                    <option *ngFor="let terraIndigena of grupo.terrasIndigenas"
                                        [ngValue]="terraIndigena">{{terraIndigena.nome}}
                                    </option>
                                </optgroup>
                            </select>
                            <small *ngIf="calculadoraFormEnviado&&calculadoraForm.controls.terraIndigena.invalid"
                                class="text-danger">
                                {{'form.indigenous-land.validation' | translate}}
                            </small>
                        </div>
                    </div>
                    <div class="row" *ngIf="terraIndigenaSelecionada">
                        <!-- checkbox-edit -->
                        <div class="col-12 mt-1">
                            <div class="d-flex">
                                <input type="checkbox" formControlName="permitirAlteracao"
                                    (change)="permitirAlterarTerraIndigena()">
                                <label class="ms-2">
                                    {{'form.checkbox-edit' | translate}}
                                </label>
                            </div>
                        </div>
                        <!-- land-size -->
                        <div class="col-md-6 mt-3">
                            <label class="form-label">
                                <span>
                                    {{'form.land-size.name' | translate}}
                                </span>
                                <fa-icon [icon]="faQuestionCircle" class="cursor-pointer"
                                    ngbTooltip="{{'form.land-size.description' | translate}}"
                                    (click)="abrirModalFormDetalhes('land-size')"></fa-icon>
                            </label>
                            <input type="text" class="form-control" mask="separator.2" thousandSeparator="."
                                decimalMarker=","
                                [ngClass]="{ 'is-invalid': calculadoraFormEnviado&&calculadoraForm.controls.tamanho.invalid}"
                                formControlName="tamanho">
                            <small *ngIf="calculadoraFormEnviado&&calculadoraForm.controls.tamanho.invalid"
                                class="text-danger">
                                {{'form.land-size.validation' | translate}}
                            </small>
                        </div>
                        <!-- villages -->
                        <div class="col-md-3 mt-3">
                            <label class="form-label">
                                <span>
                                    {{'form.villages.name' | translate}}
                                </span>
                                <fa-icon [icon]="faQuestionCircle" class="cursor-pointer"
                                    ngbTooltip="{{'form.villages.description' | translate}}"
                                    (click)="abrirModalFormDetalhes('villages')"></fa-icon>
                            </label>
                            <input type="text" class="form-control"
                                [ngClass]="{ 'is-invalid': calculadoraFormEnviado&&calculadoraForm.controls.aldeias.invalid}"
                                formControlName="aldeias" numbersOnly>
                            <small *ngIf="calculadoraFormEnviado&&calculadoraForm.controls.aldeias.invalid"
                                class="text-danger">
                                {{'form.villages.validation' | translate}}
                            </small>
                        </div>
                        <!-- peoples -->
                        <div class="col-md-3 mt-3">
                            <label class="form-label">
                                <span>
                                    {{'form.peoples.name' | translate}}
                                </span>
                                <fa-icon [icon]="faQuestionCircle" class="cursor-pointer"
                                    ngbTooltip="{{'form.peoples.description' | translate}}"
                                    (click)="abrirModalFormDetalhes('peoples')"></fa-icon>
                            </label>
                            <input type="text" class="form-control"
                                [ngClass]="{ 'is-invalid': calculadoraFormEnviado&&calculadoraForm.controls.grauDiversidade.invalid}"
                                formControlName="grauDiversidade" numbersOnly>
                            <small *ngIf="calculadoraFormEnviado&&calculadoraForm.controls.grauDiversidade.invalid"
                                class="text-danger">
                                {{'form.peoples.validation' | translate}}
                            </small>
                        </div>
                        <!-- population -->
                        <div class="col-md-6 mt-3">
                            <label class="form-label">
                                <span>
                                    {{'form.population.name' | translate}}
                                </span>
                                <fa-icon [icon]="faQuestionCircle" class="cursor-pointer"
                                    ngbTooltip="{{'form.population.description' | translate}}"
                                    (click)="abrirModalFormDetalhes('population')"></fa-icon>
                            </label>
                            <input type="text" class="form-control"
                                [ngClass]="{ 'is-invalid': calculadoraFormEnviado&&calculadoraForm.controls.populacao.invalid}"
                                formControlName="populacao" numbersOnly>
                            <small *ngIf="calculadoraFormEnviado&&calculadoraForm.controls.populacao.invalid"
                                class="text-danger">
                                {{'form.validation.name' | translate}}
                            </small>
                        </div>
                        <!-- headquarters -->
                        <div class="col-6 mt-3">
                            <label class="form-label">
                                <span>
                                    {{'form.headquarters.name' | translate}}
                                </span>
                                <fa-icon [icon]="faQuestionCircle" class="cursor-pointer"
                                    ngbTooltip="{{'form.headquarters.description' | translate}}"
                                    (click)="abrirModalFormDetalhes('headquarters')"></fa-icon>
                            </label>
                            <select class="form-select" required
                                [ngClass]="{ 'is-invalid': calculadoraFormEnviado&&calculadoraForm.controls.localSede.invalid}"
                                formControlName="localSede">
                                <option [value]="null" disabled selected>
                                    {{'form.headquarters.placeholder' | translate}}
                                </option>
                                <option *ngFor="let item of listaLocalSede" [ngValue]="item.value">
                                    {{'headquarters-list.value-'+ item.value| translate}}
                                </option>
                            </select>
                            <small *ngIf="calculadoraFormEnviado&&calculadoraForm.controls.localSede.invalid"
                                class="text-danger">
                                {{'form.headquarters.validation' |
                                translate}}
                            </small>
                        </div>
                        <!-- degree-of-threat -->
                        <div class="col-md-6 mt-3">
                            <label class="form-label">
                                <span>
                                    {{'form.degree-of-threat.name' | translate}}
                                </span>
                                <fa-icon [icon]="faQuestionCircle" class="cursor-pointer"
                                    ngbTooltip="{{'form.degree-of-threat.description' | translate}}"
                                    (click)="abrirModalFormDetalhes('degree-of-threat')"></fa-icon>
                            </label>
                            <select class="form-select" required
                                [ngClass]="{ 'is-invalid': calculadoraFormEnviado&&calculadoraForm.controls.grauAmeaca.invalid}"
                                formControlName="grauAmeaca">
                                <option [value]="null" disabled selected>
                                    {{'form.degree-of-threat.placeholder' | translate}}
                                </option>
                                <option *ngFor="let item of listaGrauAmeaca" [ngValue]="item.value">
                                    {{'degree-of-threat-list.value-'+ item.value| translate}}
                                </option>
                            </select>
                            <small *ngIf="calculadoraFormEnviado&&calculadoraForm.controls.grauAmeaca.invalid"
                                class="text-danger">
                                {{'form.degree-of-threat.validation' | translate}}
                            </small>
                        </div>
                        <!-- complexity-of-access -->
                        <div class="col-md-6 mt-3">
                            <label class="form-label">
                                <span>
                                    {{'form.complexity-of-access.name' | translate}}
                                </span>
                                <fa-icon [icon]="faQuestionCircle" class="cursor-pointer"
                                    ngbTooltip="{{'form.complexity-of-access.description' | translate}}"
                                    (click)="abrirModalFormDetalhes('complexity-of-access')"></fa-icon>
                            </label>
                            <select class="form-select" required
                                [ngClass]="{ 'is-invalid': calculadoraFormEnviado&&calculadoraForm.controls.complexidadeAcesso.invalid}"
                                formControlName="complexidadeAcesso">
                                <option [value]="null" disabled selected>
                                    {{'form.complexity-of-access.placeholder' | translate}}
                                </option>
                                <option *ngFor="let item of listaComplexidadeAcesso" [ngValue]="item.value">
                                    {{'complexity-of-access-list.value-'+ item.value| translate}}
                                </option>
                            </select>
                            <small *ngIf="calculadoraFormEnviado&&calculadoraForm.controls.complexidadeAcesso.invalid"
                                class="text-danger">
                                {{'form.complexity-of-access.validation' | translate}}
                            </small>
                        </div>
                    </div>
                    <div class="row">
                        <!-- current-situation -->
                        <div class="col-md-6 mt-3">
                            <label class="form-label">
                                <span>
                                    {{'form.current-situation.name' | translate}}
                                </span>
                                <fa-icon [icon]="faQuestionCircle" class="cursor-pointer"
                                    ngbTooltip="{{'form.current-situation.description' | translate}}"
                                    (click)="abrirModalFormDetalhes('current-situation')"></fa-icon>
                            </label>
                            <select class="form-select" required
                                [ngClass]="{ 'is-invalid': calculadoraFormEnviado&&calculadoraForm.controls.nivelImplementacaoAtual.invalid}"
                                formControlName="nivelImplementacaoAtual">
                                <option [value]="null" disabled selected>
                                    {{'form.current-situation.placeholder' | translate}}
                                </option>
                                <option *ngFor="let item of listaNivelImplementacaoAtual" [value]="item.value">
                                    {{'current-situation-list.value-'+ item.value| translate}}
                                </option>
                            </select>
                            <small
                                *ngIf="calculadoraFormEnviado&&calculadoraForm.controls.nivelImplementacaoAtual.invalid"
                                class="text-danger">
                                {{'form.current-situation.validation' | translate}}
                            </small>
                        </div>
                        <!-- type-of-cost -->
                        <div class="col-md-6 mt-3">
                            <label class="form-label">
                                <span>
                                    {{'form.type-of-cost.name' | translate}}
                                </span>
                                <fa-icon [icon]="faQuestionCircle" class="cursor-pointer"
                                    ngbTooltip="{{'form.type-of-cost.description' | translate}}"
                                    (click)="abrirModalFormDetalhes('type-of-cost')"></fa-icon>
                            </label>
                            <select class="form-select" required
                                [ngClass]="{ 'is-invalid': calculadoraFormEnviado&&calculadoraForm.controls.tipoCusto.invalid}"
                                formControlName="tipoCusto">
                                <option value="1">
                                    {{'type-of-cost-list.value-1' | translate}}
                                </option>
                                <option value="2">
                                    {{'type-of-cost-list.value-2' | translate}}
                                </option>
                            </select>
                            <small *ngIf="calculadoraFormEnviado&&calculadoraForm.controls.tipoCusto.invalid"
                                class="text-danger">
                                {{'form.type-of-cost.validation' | translate}}
                            </small>
                        </div>
                        <!-- inflation -->
                        <div class="col-md-6 mt-3">
                            <label class="form-label">
                                <span>
                                    {{'form.inflation.name' | translate}}
                                </span>
                                <fa-icon [icon]="faQuestionCircle" class="cursor-pointer"
                                    ngbTooltip="{{'form.inflation.description' | translate}}"
                                    (click)="abrirModalFormDetalhes('inflation')"></fa-icon>
                            </label>
                            <input type="text" class="form-control"
                                placeholder="{{'form.inflation.placeholder' | translate}}" formControlName="inflacao"
                                numbersOnly>
                        </div>
                    </div>
                    <div class="d-flex mt-3">
                        <button class="btn btn-lg btn-secondary rounded-pill px-5 w-50" (click)="botaoCalcular()">
                            {{'form.button-calculate' | translate}}
                        </button>
                        <app-loading *ngIf="mostrarCarregando"></app-loading>
                    </div>
                </form>
            </div>
            <div class="col-lg-6">
                <div class="d-flex">
                    <div>
                        <img src="./assets/images/mapas/terra_indigena_geral.png" class="w-100" alt=""
                            *ngIf="!terraIndigenaSelecionada">
                        <img [src]="'./assets/images/mapas/'+terraIndigenaSelecionada.mapa" class="w-100" alt=""
                            *ngIf="terraIndigenaSelecionada">
                    </div>
                    <div class="align-self-center">
                        <a href="/pgtas" class="link_pgta" target="_blank">
                            {{'form.pgtas' | translate}}
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div id="resultado"></div>
<section class="section-container bg-gray" id="resultados" *ngIf="mostrarResultado&&resultado">
    <div class="container">
        <div class="d-flex justify-content-center">
            <h1>
                {{'indigenous-land-calculator.section-result.title' | translate}}
            </h1>
        </div>

        <div class="row justify-content-center">
            <div class="col col-lg-4 text-center text-md-end">
                <span class="resultado-tipo-custo">
                    {{'indigenous-land-calculator.section-result.basic-management' | translate}}
                </span>
            </div>
            <div class="col-md-auto">
                <div class="form-check form-switch d-flex justify-content-center">
                    <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault"
                        style="width: 50px;height: 25px;" [(ngModel)]="tipoResultadoBom"
                        (change)="trocarTipoResultado()">

                </div>
            </div>
            <div class="col col-lg-4 text-center text-md-start">
                <span class="resultado-tipo-custo">
                    {{'indigenous-land-calculator.section-result.good-management' | translate}}
                </span>
            </div>
        </div>
        <h2>
            {{(tipoResultadoBom ? 'indigenous-land-calculator.section-result.good-management' :
            'indigenous-land-calculator.section-result.basic-management') | translate}}
        </h2>
        <div class="row">
            <div class="col-lg-3 mb-3">
                <h3>
                    {{'indigenous-land-calculator.section-result.total-cost' | translate}}
                </h3>
                <div class="mt-3">
                    <h4>
                        <span *ngIf="resultado.valorTotal >= 1000">
                            {{resultado.valorTotal | currency:'BRL':'symbol':'1.0-0' }}
                        </span>
                        <span *ngIf="resultado.valorTotal < 1000"> &lt; R$1.000 </span>

                        <small *ngIf="resultado.tipoCusto == enumTipoCusto.Recorrente">
                            {{'indigenous-land-calculator.section-result.per-year' | translate}}
                        </small>
                        <small *ngIf="resultado.tipoCusto == enumTipoCusto.NaoRecorrente">/1x</small>
                    </h4>
                </div>
                <button class="btn btn-lg btn-secondary px-5 rounded-pill" (click)="gerarPdf()">
                    {{'indigenous-land-calculator.section-result.download-pdf' | translate}}
                </button>
            </div>
            <div class="col-lg-6 mb-3">
                <canvasjs-chart [options]="chartOptions" id="chart" [styles]="{width: '100%', height:'300px'}"
                    (chartInstance)="obterReferenciaGrafico($event)"></canvasjs-chart>
            </div>
            <div class="col-lg-3 mb-3">
                <div class="box-result">
                    <p><b>{{'indigenous-land-calculator.section-result.territory' | translate}}:
                        </b>{{resultado.terraIndigena}}</p>
                    <p *ngFor="let x of resultado.variaveisUtilizadas">
                        <b>{{'indigenous-land-calculator.section-result.' + x.name| translate}}: </b>{{x.valor}}
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section-container bg-white" id="custos_por_eixos" *ngIf="mostrarResultado&&resultado">
    <div class="container">
        <div class="d-flex justify-content-center">
            <h1>
                {{'indigenous-land-calculator.costs-by-axis.title' | translate}}
            </h1>
        </div>

        <div class="row">
            <div class="col-md-6 col-lg-4 col-xl-3 mb-3" *ngFor="let eixo of resultado.eixos">
                <div class="card h-100">
                    <div class="card-header">
                        <div class="d-flex align-items-center">
                            <img src="assets/images/eixos/{{eixo.imagem}}" alt="" style="width: 40px;">
                            <h6 class="ms-2 mb-0">
                                <strong>
                                    {{'thematic-axis.axis-' + eixo.id + '.name' | translate}}
                                </strong>
                            </h6>
                        </div>
                    </div>
                    <div class="card-body">

                        <h5 class="text-success">
                            <span *ngIf="eixo&&eixo.valor&&eixo.valor >= 1000; else other_content">
                                {{eixo.valor | currency:'BRL':'symbol':'1.0-0' }}
                            </span>
                            <ng-template #other_content>
                                <span> &lt; R$1.000 </span>
                            </ng-template>

                            <small *ngIf="resultado.tipoCusto == enumTipoCusto.Recorrente">
                                {{'indigenous-land-calculator.costs-by-axis.axis-per-year' | translate}}
                            </small>
                            <small *ngIf="resultado.tipoCusto == enumTipoCusto.NaoRecorrente">/1x</small>
                        </h5>
                        <p>
                            {{'thematic-axis.axis-' + eixo.id + '.description' | translate}}
                        </p>
                    </div>
                    <div class="card-footer d-flex justify-content-end">
                        <button class="btn btn-sm btn-secondary" (click)="modalEixoDetalhes(eixo)">
                            {{'indigenous-land-calculator.costs-by-axis.axis-learn-more' | translate}}
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mt-5">
            <div class="col d-flex justify-content-center">
                <a class="btn btn-outline-secondary" routerLink="/calculadora_comparativa" target="_blank">
                    {{'indigenous-land-calculator.costs-by-axis.compare-button' | translate}}
                </a>
            </div>
        </div>
    </div>
</section>