.table {
  caption-side: top;
}

#resultado {
  scroll-margin-top: 100px;
}

.resultado-tipo-custo {
  font-family: "Montserrat";
}

.resultado-section-sub-title {
  font-size: 1.5rem;
  font-weight: 550;
  font-family: "Montserrat", sans-serif;
  margin-bottom: 2rem;
}
