<div class="row">
    <div class="col-lg-4 mb-3">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Versão Básica</h5>
                <p class="card-text">Calcula o custo total de implementação de todas as atividades em uma
                    terra indígena selecionada, definindo se o nível de implementação é básico ou bom.
                </p>
                <a href="/calculadora-basica" class="btn btn-sm btn-primary">Ir para calculadora</a>
            </div>
        </div>
    </div>
    <div class="col-lg-4 mb-3">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Versão Agrupada</h5>
                <p class="card-text">Calcula o custo total de implementação de eixo(s) selecionado(s) em uma
                    ou mais terras indígenas, definido se o nível de implementação é básico ou bom.
                </p>
                <a href="/calculadora-agrupada" class="btn btn-sm btn-primary">Ir para calculadora</a>
            </div>
        </div>
    </div>
    <div class="col-lg-4 mb-3">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Versão Detalhada</h5>
                <p class="card-text">Calcula o custo de implementação por atividade em uma Terra Indígena,
                    sendo possível mudar os valores das características da Terra Indígena e definir o nível
                    de implementação.
                </p>
                <a href="/calculadora-detalhada" class="btn btn-sm btn-primary">Ir para calculadora</a>
            </div>
        </div>
    </div>
</div>