<app-header title="Contato"></app-header>

<div class="container">
    <section class="mb-5">
        <h1 class="section-title">CSF BRASIL</h1>
        <a href="https://www.conservation-strategy.org/" target="_blank">conservation-strategy.org</a>
    </section>
    <section class="mb-5">
        <h1 class="section-title">INSTITUTO SOCIAMBIENTAL</h1>
        <a href="https://www.socioambiental.org/" target="_blank">socioambiental.org</a>
    </section>
    <section class="mb-5">
        <h1 class="section-title">REDE XINGU+</h1>
        <a href="https://xingumais.org.br/" target="_blank">xingumais.org.br</a>
    </section>
</div>