<div class="modal-header">
    <h4 class="modal-title">{{eixo.nome}} - Atividades</h4>
</div>
<div class="modal-body">
    <div ngbAccordion>
        <div *ngFor="let atividade of eixo?.atividades" ngbAccordionItem [collapsed]="true">
            <h2 ngbAccordionHeader>
                <button ngbAccordionButton>
                    <div>
                        <b>{{atividade.nome}}</b>
                        <br>
                        <small class="mt-1">{{atividade.valor}}</small>
                    </div>
                </button>
            </h2>
            <div ngbAccordionCollapse>
                <div ngbAccordionBody>
                    <div>{{atividade.descricao}}</div>
                    <div *ngIf="false"></div><!-- HACK TO NOT DUPLICATE ITEMS -->
                    <ul>
                        <li *ngIf="atividade.metricaBasico.length > 0">
                            <strong>Básico </strong>
                            {{atividade.metricaBasico[0].descricao}}<br>
                            {{atividade.metricaBasico[0].exemplo}}
                        </li>
                        <li *ngIf="atividade.metricaBom.length > 0">
                            <strong>Bom </strong>
                            {{atividade.metricaBom[0].descricao}}<br>
                            {{atividade.metricaBom[0].exemplo}}
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-sm btn-outline-secondary"
        (click)="activeModal.close('Close click')">Fechar</button>
</div>