<div class="row">
    <div class="col-lg-4 mb-3">
        <div class="card h-100">
            <div class="card-body d-flex flex-column">
                <h5 class="card-title">Versão Simplificada</h5>
                <div class="d-flex flex-column justify-content-between h-100">
                    <p class="card-text">
                        Calcula o custo total de implementação do PGTA de uma terra indígena
                    </p>
                    <div class="d-flex justify-content-end">
                        <a routerLink="/calculadora-simplificada" class="btn btn-sm btn-secondary">
                            Ir para calculadora</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4 mb-3">
        <div class="card h-100">
            <div class="card-body d-flex flex-column">
                <h5 class="card-title">Versão Agrupada</h5>
                <div class="d-flex flex-column justify-content-between h-100">
                    <p class="card-text">
                        Calcula o custo de implementação de mais de uma terra indígena por eixos temáticos
                    </p>
                    <div class="d-flex justify-content-end">
                        <a routerLink="/calculadora-agrupada" class="btn btn-sm btn-secondary">Ir para calculadora</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4 mb-3">
        <div class="card h-100">
            <div class="card-body d-flex flex-column">
                <h5 class="card-title">Versão Detalhada</h5>
                <div class="d-flex flex-column justify-content-between h-100">
                    <p class="card-text">
                        Calcula o custo de implementação detalhado por atividade, sendo possível mudar os valores das
                        características da Terra Indígena
                    </p>
                    <div class="d-flex justify-content-end">
                        <a routerLink="/calculadora-detalhada" class="btn btn-sm btn-secondary">Ir para calculadora</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>