<section class="section-container" id="header">
    <div class="container">
        <h1 class="section-title text-center">
            {{'comparative-version.title' | translate}}
        </h1>
    </div>
</section>

<section class="section-container bg-gray" id="info">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="video">
                    <iframe frameborder="0" allowfullscreen
                        src="https://www.youtube.com/embed/6BDqno8Fdow?si=fDu95A_Gepi6FRSI" title="Video Tutorial"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                        referrerpolicy="strict-origin-when-cross-origin">
                    </iframe>
                </div>
            </div>
            <div class="col-lg-6 mt-5 mt-lg-0">
                <p>
                    {{'comparative-version.section-info.paragraph-1' | translate}}
                </p>
                <p>
                    {{'comparative-version.section-info.paragraph-2' | translate}}
                </p>
            </div>
        </div>
    </div>
</section>

<section class="section-container bg-white" id="form">
    <div class="container">
        <form [formGroup]="calculadoraForm" class="calculadora-form">
            <div class="row">
                <!-- indigenous-land -->
                <div class="col-md-4 mb-3">
                    <div class="form-group">
                        <label class="form-label">
                            {{'form.indigenous-land.placeholder' | translate}}
                        </label>
                        <div *ngFor="let grupo of grupoTerrasIndigenas">
                            <label>
                                {{'indigenous-land-groups.value-' + grupo.id | translate}}
                            </label>
                            <div class="form-check form-check-terra-indigena"
                                *ngFor="let terraIndigena of grupo.terrasIndigenas">
                                <input class="form-check-input" type="checkbox"
                                    (change)="selecionarTerraIndigena($event,terraIndigena)"
                                    id="{{'flexCheck' + terraIndigena.nome}}">
                                <label class="form-check-label" for="{{'flexCheck' + terraIndigena.nome}}">
                                    {{terraIndigena.nome}}
                                </label>
                            </div>
                        </div>
                        <small *ngIf="calculadoraFormEnviado&&terrasIndigenasSelecionadas.length==0"
                            class="text-danger">
                            {{'form.indigenous-land.validation' | translate}}
                        </small>
                    </div>
                </div>
                <div class="col-md-4 mb-3">
                    <!-- thematic-axes -->
                    <div class="form-group mt-3">
                        <label class="form-label d-flex justify-content-between">
                            <span>
                                {{'form.thematic-axes.name' | translate}}
                            </span>
                            <fa-icon [icon]="faQuestionCircle" class="cursor-pointer"
                                ngbTooltip="{{'form.thematic-axes.description' | translate}}"
                                (click)="abrirModalFormDetalhes('thematic-axes')">
                            </fa-icon>
                        </label>
                        <div class="form-check form-check-terra-indigena" *ngFor="let eixo of eixos">
                            <input class="form-check-input" type="checkbox" (change)="selecionarEixo($event,eixo)"
                                id="{{'flexCheck' + eixo.id}}">
                            <label class="form-check-label" for="{{'flexCheck' + eixo.id}}">
                                {{'thematic-axis.axis-' + eixo.id + '.name' | translate}}
                            </label>
                        </div>
                        <small *ngIf="calculadoraFormEnviado&&eixosSelecionados.length==0" class="text-danger">
                            {{'form.thematic-axes.validation' | translate}}
                        </small>
                    </div>
                    <!-- type-of-cost -->
                    <div class="form-group mt-3">
                        <label class="form-label">
                            <span>
                                {{'form.type-of-cost.name' | translate}}
                            </span>
                            <fa-icon [icon]="faQuestionCircle" class="cursor-pointer"
                                ngbTooltip="{{'form.type-of-cost.description' | translate}}"
                                (click)="abrirModalFormDetalhes('type-of-cost')"></fa-icon>
                        </label>
                        <select class="form-select form-select-sm" required
                            [ngClass]="{ 'is-invalid': calculadoraFormEnviado&&calculadoraForm.controls.tipoCusto.invalid}"
                            formControlName="tipoCusto">
                            <option value="1">
                                {{'type-of-cost-list.value-1' | translate}}
                            </option>
                            <option value="2">
                                {{'type-of-cost-list.value-2' | translate}}
                            </option>
                        </select>
                        <small *ngIf="calculadoraFormEnviado&&calculadoraForm.controls.tipoCusto.invalid"
                            class="text-danger">
                            {{'form.type-of-cost.validation' | translate}}
                        </small>
                    </div>
                    <!-- current-situation-comparative -->
                    <div class="form-group mt-3">
                        <label class="form-label">
                            <span>
                                {{'form.current-situation-comparative.name' | translate}}
                            </span>
                            <fa-icon [icon]="faQuestionCircle" class="cursor-pointer"
                                ngbTooltip="{{'form.current-situation-comparative.description' | translate}}"
                                (click)="abrirModalFormDetalhes('current-situation-comparative')"></fa-icon>
                        </label>
                        <select class="form-select form-select-sm" required
                            [ngClass]="{ 'is-invalid': calculadoraFormEnviado&&calculadoraForm.controls.nivelImplementacaoAtual.invalid}"
                            formControlName="nivelImplementacaoAtual">
                            <option [value]="null" disabled selected>
                                {{'form.current-situation-comparative.placeholder' | translate}}
                            </option>
                            <option *ngFor="let item of listaNivelImplementacaoAtual" [value]="item.value">
                                {{'current-situation-comparative-list.value-'+ item.value| translate}}
                            </option>
                        </select>
                        <small *ngIf="calculadoraFormEnviado&&calculadoraForm.controls.nivelImplementacaoAtual.invalid"
                            class="text-danger">
                            {{'form.current-situation-comparative.validation' | translate}}
                        </small>
                    </div>
                    <!-- desired-situation -->
                    <div class="form-group mt-3">
                        <label class="form-label d-flex justify-content-between">
                            <span>
                                {{'form.desired-situation.name' | translate}}
                            </span>
                            <fa-icon [icon]="faQuestionCircle" class="cursor-pointer"
                                ngbTooltip="{{'form.desired-situation.description' | translate}}"
                                (click)="abrirModalFormDetalhes('desired-situation')">
                            </fa-icon>
                        </label>
                        <select class="form-select form-select-sm" required
                            [ngClass]="{ 'is-invalid': calculadoraFormEnviado&&calculadoraForm.controls.nivelImplementacaoAlmejado.invalid}"
                            formControlName="nivelImplementacaoAlmejado">
                            <option value="null" disabled selected>
                                {{'form.desired-situation.placeholder' | translate}}
                            </option>
                            <option *ngFor="let item of listaNivelImplementacaoAlmejado" [ngValue]="item.value">
                                {{'desired-situation-list.value-'+ item.value| translate}}
                        </select>
                        <small
                            *ngIf="calculadoraFormEnviado&&calculadoraForm.controls.nivelImplementacaoAlmejado.invalid"
                            class="text-danger">
                            {{'form.desired-situation.validation'}}
                        </small>
                    </div>
                    <!-- inflation -->
                    <div class="form-group mt-3">
                        <label class="form-label">
                            <span>
                                {{'form.inflation.name' | translate}}
                            </span>
                            <fa-icon [icon]="faQuestionCircle" class="cursor-pointer"
                                ngbTooltip="{{'form.inflation.description' | translate}}"
                                (click)="abrirModalFormDetalhes('inflation')"></fa-icon>
                        </label>
                        <input type="text" class="form-control"
                            placeholder="{{'form.inflation.placeholder' | translate}}" formControlName="inflacao"
                            numbersOnly>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="d-flex">
                        <img src="./assets/images/mapas/terra_indigena_geral.png" style="max-width: calc(100% - 100px);"
                            alt="">
                        <div class="align-self-center">
                            <a href="/pgtas" class="link_pgta" target="_blank">
                                {{'form.pgtas' | translate}}
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <div class="d-flex mt-3">
                        <button class="btn btn-lg btn-secondary rounded-pill px-5 w-50" (click)="botaoCalcular()">
                            {{'form.button-calculate' | translate}}
                        </button>
                        <app-loading *ngIf="mostrarCarregando"></app-loading>
                    </div>
                </div>
            </div>

        </form>
    </div>
</section>

<div id="resultado"></div>

<section class="section-container bg-gray" id="resultados" *ngIf="mostrarResultado&&resultado">
    <div class="container">
        <div class="d-flex justify-content-center">
            <h1>
                {{'comparative-version.section-result.title' | translate}}
            </h1>
        </div>

        <button class="btn btn-lg btn-secondary px-5 mb-5 rounded-pill" (click)="gerarPdf()">
            {{'comparative-version.section-result.download-pdf' | translate}}
        </button>
        <p class="mb-3">
            {{'comparative-version.section-result.estimated-cost' | translate}}
            <strong>{{resultado.terrasIndigenasSelecionadas}}</strong><br>
            {{'comparative-version.section-result.for-thematics-axis' | translate}}
            <strong>{{resultado.eixosSelecionados}}</strong> {{'comparative-version.section-result.with-level' |
            translate}}
            <strong>{{resultado.nivelImplementacao}}</strong>, {{resultado.tipoCusto == 1 ?
            ('comparative-version.section-result.is' | translate): ''}}
        </p>
        <div class="mb-5">
            <canvasjs-chart [options]="chartOptions" (chartInstance)="getChartInstance($event)" id="chart"
                [styles]="{width: '100%', height:'500px'}"></canvasjs-chart>
        </div>

    </div>
</section>

<section class="section-container bg-white" id="custos_por_eixos" *ngIf="mostrarResultado&&resultado">
    <div class="container">
        <div class="d-flex justify-content-center">
            <h1>
                {{'comparative-version.costs-by-axis.title' | translate}}
            </h1>
        </div>
        <div class="table-responsive">
            <table class="table table-sm table-bordered">
                <thead>
                    <tr>
                        <th>
                            {{'form.indigenous-land.name' | translate}}
                        </th>
                        <th *ngFor="let eixo of resultado.detalhesEixosSelecionados">
                            {{'thematic-axis.axis-' + eixo.id + '.name' | translate}}
                        </th>
                        <th>Total</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let terraIndigena of resultado.terrasIndigenas">
                        <td>{{terraIndigena.nome}}</td>
                        <td *ngFor="let eixo of terraIndigena.resultadoEixos">{{eixo.valorEixo |
                            currency:'BRL':'symbol':'1.0-0'}}</td>
                        <td>{{terraIndigena.valorTotal | currency:'BRL':'symbol':'1.0-0'}}</td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td></td>
                        <td *ngFor="let eixo of resultado.detalhesEixosSelecionados">
                            {{eixo.valor | currency:'BRL':'symbol':'1.0-0'}}
                        </td>
                        <td></td>
                    </tr>
                </tfoot>
            </table>
        </div>

        <label class="mt-3">
            {{'comparative-version.costs-by-axis.characteristics' | translate}}
        </label>
        <div class="table-responsive">
            <table class="table table-sm table-bordered">
                <thead>
                    <tr>
                        <th>
                            {{'form.indigenous-land.name' | translate}}
                        </th>
                        <th>
                            {{'form.land-size.name' | translate}}
                        </th>
                        <th>
                            {{'form.peoples.name' | translate}}
                        </th>
                        <th>
                            {{'form.villages.name' | translate}}
                        </th>
                        <th>
                            {{'form.population.name' | translate}}
                        </th>
                        <th>
                            {{'form.degree-of-threat.name' | translate}}
                        </th>
                        <th>
                            {{'form.complexity-of-access.name' | translate}}
                        </th>
                        <th>
                            {{'form.headquarters.name' | translate}}
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let terraIndigena of resultado.terrasIndigenas">
                        <td>{{terraIndigena.nome}}</td>
                        <td>{{terraIndigena.tamanho}}</td>
                        <td>{{terraIndigena.grauDiversidade}}</td>
                        <td>{{terraIndigena.aldeias}}</td>
                        <td>{{terraIndigena.populacao}}</td>
                        <td>{{terraIndigena.grauAmeaca}}</td>
                        <td>{{terraIndigena.complexidadeAcesso}}</td>
                        <td>{{terraIndigena.localSede}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>