.cls-1,
.cls-23,
.cls-25,
.cls-26,
.cls-29 {
  fill: none;
}

.cls-2 {
  clip-path: url(#clip-path);
}

.cls-3 {
  clip-path: url(#clip-path-2);
}

.cls-4 {
  fill: #bf7a4b;
}

.cls-5 {
  fill: #073c29;
}

.cls-6 {
  fill: #4e8974;
}

.cls-12,
.cls-7,
.cls-9 {
  fill: #d9cfc7;
}

.cls-30,
.cls-31,
.cls-7 {
  stroke: #000;
  stroke-width: 0.5px;
}

.cls-12,
.cls-23,
.cls-25,
.cls-26,
.cls-29,
.cls-30,
.cls-31,
.cls-7,
.cls-9 {
  stroke-miterlimit: 10;
}

.cls-8 {
  fill: #5baec1;
}

.cls-12,
.cls-9 {
  stroke: #8f857d;
}

.cls-9 {
  stroke-width: 0.99px;
}

.cls-10 {
  fill: #8f857d;
}

.cls-11 {
  fill: #c98a45;
}

.cls-12 {
  stroke-width: 1.01px;
}

.cls-13,
.cls-30 {
  fill: #192a33;
}

.cls-14 {
  fill: #507659;
}

.cls-15 {
  fill: #b55d37;
}

.cls-16 {
  fill: #1d1e1c;
}

.cls-17 {
  fill: #e2b307;
}

.cls-18 {
  fill: #eae9e5;
}

.cls-19,
.cls-31 {
  fill: #fff;
}

.cls-20 {
  fill: #a34c2e;
}

.cls-21 {
  fill: #243346;
}

.cls-22 {
  fill: #9b4a2d;
}

.cls-23 {
  stroke: #b5c4b8;
  stroke-width: 3.08px;
}

.cls-24 {
  fill: #c44b30;
}

.cls-25 {
  stroke: #d8d0c7;
  stroke-width: 0.76px;
}

.cls-26 {
  stroke: #2f7dd1;
  stroke-width: 1.57px;
}

.cls-27 {
  fill: #2f7dd1;
}

.cls-28 {
  fill: #f4c327;
}

.cls-29 {
  stroke: #c98a45;
  stroke-width: 1.01px;
}

.cls-32,
.cls-41 {
  font-size: 13.06px;
  font-family: "Raleway";
  font-weight: 500;
}

.cls-32 {
  letter-spacing: 0.09em;
}

.cls-33 {
  letter-spacing: 0.1em;
}

.cls-34 {
  letter-spacing: 0.09em;
}

.cls-35 {
  letter-spacing: 0.03em;
}

.cls-36 {
  letter-spacing: 0.09em;
}

.cls-37,
.cls-41 {
  letter-spacing: 0.1em;
}

.cls-38 {
  letter-spacing: 0.08em;
}

.cls-39 {
  letter-spacing: -0.01em;
}

.cls-40 {
  letter-spacing: 0.07em;
}

.cls-42 {
  letter-spacing: 0.09em;
}

.cls-43 {
  letter-spacing: 0.07em;
}

.cls-44 {
  letter-spacing: 0.09em;
}
