<nav class="navbar navbar-expand-sm navbar-dark bg-secondary fixed-top">
  <div class="container">
    <a class="navbar-brand" routerLink="/">
      <img src="./assets/images/logo-csf.png" height="60" />
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="mynavbar">
      <ul class="navbar-nav me-auto">
        <li>
          <a class="nav-link text-white py-0" routerLink="/">Home</a>
        </li>
        <li>
          <a class="nav-link text-white py-0" routerLink="/calculadora">Calculadora</a>
        </li>
        <li>
          <a class="nav-link text-white py-0" routerLink="/sobre">Sobre</a>
        </li>
        <li>
          <a class="nav-link text-white py-0" routerLink="/metodologia">Metodologia</a>
        </li>
        <li>
          <a class="nav-link text-white py-0" routerLink="/publicacoes">PGTAs</a>
        </li>
        <li>
          <a class="nav-link text-white py-0" routerLink="/equipe">Equipe</a>
        </li>
        <li>
          <a class="nav-link text-white py-0" routerLink="/links_uteis">Links úteis</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<!-- <nav class="navbar navbar-expand-sm bg-secondary">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-2">
        <a class="navbar-brand" routerLink="/">
          <img src="./assets/images/logo-csf.png" height="60" />
        </a>
      </div>
      <div class="col-sm-12 col-md-2">
        <ul class="navbar-nav my-3 ">
          <li>
            <a class="nav-link text-white py-0" routerLink="/">Home</a>
          </li>
          <li>
            <a class="nav-link text-white py-0" routerLink="/calculadora">Calculadora</a>
          </li>
          <li>
            <a class="nav-link text-white py-0" routerLink="/sobre">Sobre</a>
          </li>
          <li>
            <a class="nav-link text-white py-0" routerLink="/metodologia">Metodologia</a>
          </li>
          <li>
            <a class="nav-link text-white py-0" routerLink="/publicacoes">Publicações</a>
          </li>
          <li>
            <a class="nav-link text-white py-0" routerLink="/equipe">Equipe</a>
          </li>
          <li>
            <a class="nav-link text-white py-0" routerLink="/contato">Contato</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav> -->