<nav class="navbar navbar-expand-sm bg-primary">
  <div class="container">
    <div class="row">
      <div class="col d-flex justify-content-center">
        <a class="navbar-brand" routerLink="/">
          <img src="./assets/logo-csf.png" height="60" />
        </a>
      </div>
      <div class="col d-flex justify-content-center">
        <ul class="navbar-nav my-3 ">
          <li>
            <a class="nav-link text-white" routerLink="/">Home</a>
          </li>
          <li>
            <a class="nav-link text-white" routerLink="/calculadora">Calculadora</a>
          </li>
          <li>
            <a class="nav-link text-white" routerLink="/sobre">Sobre</a>
          </li>
          <li>
            <a class="nav-link text-white" routerLink="/metodologia">Metodologia</a>
          </li>
          <li>
            <a class="nav-link text-white" routerLink="/publicacoes">Publicações</a>
          </li>
          <li>
            <a class="nav-link text-white" routerLink="/equipe">Equipe</a>
          </li>
          <li>
            <a class="nav-link text-white" routerLink="/contato">Contato</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>