<footer>
  <div class="container">
    <p>
      A CSF, o ISA e a Rede Xingu+ não se responsabilizam pelas consequências do uso da calculadora.
    </p>
    <ul>
      <li routerLink="/metodologia">Metodologia</li>
      <li routerLink="/pgtas">PGTAs</li>
      <li routerLink="/equipe">Equipe</li>
      <li routerLink="/links_uteis">Links úteis</li>
    </ul>
    <p>
      contato: csfbrasil&#64;conservation-strategy.org
    </p>
  </div>
</footer>

<div class="copyright">
  © {{currentYear}} Copyright: CSF All rights reserved.
</div>