<footer class="text-center">
  <div class="container p-4">
    <section class="mb-3 mt-3">
      <h6>
        A CSF, o ISA e a Rede Xingu+ não se responsabilizam pelas consequências do uso da calculadora.
      </h6>
    </section>

    <section class="">
      <div class="row">
        <div class="col-lg col-md-6 mb-4 mb-md-0">
          <h6 class="text-uppercase text-secondary">
            <strong>Sobre</strong>
          </h6>
          <ul class="list-unstyled mb-0">
            <li>
              <a routerLink="/calculadora" class="text-dark">Calculadora</a>
            </li>
            <li>
              <a routerLink="/sobre" class="text-dark">O que é</a>
            </li>
            <li>
              <a routerLink="/" class="text-dark">Guia de uso</a>
            </li>
          </ul>
        </div>

        <div class="col-lg col-md-6 mb-4 mb-md-0">
          <h6 class="text-uppercase text-secondary">
            <strong>Metodologia</strong>
          </h6>
          <ul class="list-unstyled mb-0">
            <li>
              <a routerLink="/metodologia" class="text-dark">Resumo</a>
            </li>
          </ul>
        </div>

        <div class="col-lg col-md-6 mb-4 mb-md-0">
          <h6 class="text-uppercase text-secondary">
            <strong>Publicações</strong>
          </h6>
          <ul class="list-unstyled mb-0">
            <li>
              <a routerLink="/publicacoes" class="text-dark">Todas publicações</a>
            </li>
          </ul>
        </div>

        <div class="col-lg col-md-6 mb-4 mb-md-0">
          <h6 class="text-uppercase text-secondary">
            <strong>Equipe</strong>
          </h6>
          <ul class="list-unstyled mb-0">
            <li>
              <a routerLink="/equipe" class="text-dark">Conheça</a>
            </li>
          </ul>
        </div>

        <div class="col-lg col-md-6 mb-4 mb-md-0">
          <h6 class="text-uppercase text-secondary">
            <strong>Contato</strong>
          </h6>
          <ul class="list-unstyled mb-0">
            <li>
              <a routerLink="/contato" class="text-dark">Fale conosco</a>
            </li>
            <li>
              <a href="https://www.conservation-strategy.org/" target="_blank" class="text-dark">Site da CSF</a>
            </li>
            <li>
              <a href="https://www.socioambiental.org/" target="_blank" class="text-dark">Site do ISA</a>
            </li>
          </ul>
        </div>
      </div>
    </section>
  </div>
</footer>

<div class="text-center text-white p-1" style="background-color: rgba(184, 29, 0, 1);">
  © {{currentYear}} Copyright:
  <a class="text-white" href="https://mdbootstrap.com/"> CSF All rights reserved.</a>
</div>