<footer>
  <div class="container">
    <p>
      {{'footer.description' | translate}}
    </p>
    <ul>
      <li routerLink="/metodologia">{{'menu.methodology' | translate}}</li>
      <li routerLink="/pgtas">{{'menu.pgtas' | translate}}</li>
      <li routerLink="/equipe">{{'menu.team' | translate}}</li>
      <li routerLink="/links_uteis">{{'menu.useful-links' | translate}}</li>
    </ul>
    <p>
      {{'footer.contact' | translate}}: csfbrasil&#64;conservation-strategy.org
    </p>
  </div>
</footer>

<div class="copyright">
  © {{currentYear}} Copyright: CSF All rights reserved.
</div>