<app-header title="Versão Agrupada"></app-header>
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <section>
                <h1 class="section-title">Guia de Uso</h1>
                <div class="alert alert-info">
                    <p>
                        Calcula o custo total de implementação de eixos temáticos selecionados em uma ou mais Terras
                        Indígenas. O usuário pode escolher o nível de implementação desejado (básico ou bom) para cada
                        um dos eixos selecionados. Essa versão é indicada para quem atua em mais de uma Terra Tndígena e
                        pretende ter informações gerais de custo de implementação das atividades em mais de uma Terra
                        Indígena selecionada.
                    </p>
                </div>
            </section>
        </div>
        <div class="col-md-6"></div>
    </div>
</div>