.cls-1,
.cls-20 {
  fill: none;
}

.cls-2 {
  fill: #d6432b;
}

.cls-3 {
  clip-path: url(#clip-path);
}

.cls-4 {
  clip-path: url(#clip-path-2);
}

.cls-5 {
  fill: #073c29;
}

.cls-6 {
  fill: #bf7a4b;
}

.cls-7 {
  fill: #4e8974;
}

.cls-10,
.cls-8 {
  fill: #d9cfc7;
}

.cls-26,
.cls-27,
.cls-30,
.cls-8 {
  stroke: #000;
}

.cls-10,
.cls-20,
.cls-26,
.cls-27,
.cls-30,
.cls-8 {
  stroke-miterlimit: 10;
}

.cls-26,
.cls-27,
.cls-8 {
  stroke-width: 0.5px;
}

.cls-9 {
  fill: #5baec1;
}

.cls-10 {
  stroke: #8f857d;
  stroke-width: 0.99px;
}

.cls-11 {
  fill: #8f857d;
}

.cls-12,
.cls-27,
.cls-30 {
  fill: #fff;
}

.cls-13 {
  fill: #2f7dd1;
}

.cls-14 {
  fill: #1d1e1c;
}

.cls-15 {
  fill: #9e4f33;
}

.cls-16,
.cls-26 {
  fill: #192a33;
}

.cls-17 {
  fill: #e2b307;
}

.cls-18 {
  fill: #b55d37;
}

.cls-19 {
  clip-path: url(#clip-path-3);
}

.cls-20 {
  stroke: #192a33;
  stroke-width: 1.69px;
}

.cls-21 {
  fill: #9e482b;
}

.cls-22 {
  fill: #357c38;
}

.cls-23 {
  fill: #e1b209;
}

.cls-24 {
  fill: #243346;
}

.cls-25 {
  fill: #507659;
}

.cls-28,
.cls-31 {
  font-size: 13.06px;
  font-family: Raleway-Medium, Raleway;
  font-weight: 500;
}

.cls-28,
.cls-33 {
  letter-spacing: 0.1em;
}

.cls-29 {
  letter-spacing: 0.07em;
}

.cls-30 {
  stroke-width: 0.53px;
}

.cls-31,
.cls-36 {
  letter-spacing: 0.1em;
}

.cls-32 {
  letter-spacing: 0.08em;
}

.cls-34 {
  letter-spacing: 0.08em;
}

.cls-35 {
  letter-spacing: 0.09em;
}
