<app-header title="Publicações"></app-header>

<div class="container">
    <section>
        <h1 class="section-title mb-3">PGTAS</h1>
        <div class="row">
            <div class="col-md-12 col-lg-6">
                <ul class="list-group">
                    <li class="list-group-item d-flex justify-content-between align-items-start">
                        <div class="ms-2 me-auto">
                            <div class="fw-bold">Arara da Volta Grande do Xingu</div>
                            <a href="https://acervo.socioambiental.org/sites/default/files/documents/0id00095.pdf"
                                target="_blank">Acessar Arquivo
                            </a>
                        </div>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-start">
                        <div class="ms-2 me-auto">
                            <div class="fw-bold">Apyterewa</div>
                            <a href="https://acervo.socioambiental.org/sites/default/files/documents/pkd00139.pdf"
                                target="_blank">Acessar Arquivo</a>
                        </div>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-start">
                        <div class="ms-2 me-auto">
                            <div class="fw-bold">Paquiçamba</div>
                            <a href="https://acervo.socioambiental.org/sites/default/files/documents/0id00095.pdf"
                                target="_blank">Acessar Arquivo</a>
                        </div>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-start">
                        <div class="ms-2 me-auto">
                            <div class="fw-bold">Trincheira/Bacajá</div>
                            <a href="https://acervo.socioambiental.org/sites/default/files/documents/XCL00005.pdf"
                                target="_blank">Acessar Arquivo</a>
                        </div>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-start">
                        <div class="ms-2 me-auto">
                            <div class="fw-bold">TIX (Batovi, Pequizal do Naruvôtu, Xingu e Wawi)</div>
                            <a href="https://acervo.socioambiental.org/sites/default/files/publications/0pd00256_0.pdf" target="_blank">Acessar Arquivo</a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </section>

</div>