<nav class="navbar navbar-expand-md navbar-dark bg-secondary fixed-top" style="min-height: 50px;">
  <div class="container">
    <a class="navbar-brand" routerLink="/">
      <img src="./assets/images/logo-menu-colorida.png" style="width: 80px;" />
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="mynavbar">
      <ul class="navbar-nav">
        <li class="li-menu">
          <a class="nav-link text-white py-0 mt-3 mt-md-0 d-md-none" routerLink="/" data-bs-toggle="collapse"
            data-bs-target="#mynavbar">
            {{'menu.home' | translate}}
          </a>
          <a class="nav-link text-white py-0 mt-3 mt-md-0 d-none d-md-block" routerLink="/">
            {{'menu.home' | translate}}
          </a>
        </li>
        <li>
          <a class="nav-link text-white py-0 mt-3 mt-md-0 d-md-none" data-bs-toggle="collapse"
            data-bs-target="#mynavbar" routerLink="/metodologia">
            {{'menu.methodology' | translate}}
          </a>
          <a class="nav-link text-white py-0 mt-3 mt-md-0 d-none d-md-block" routerLink="/metodologia">
            {{'menu.methodology' | translate}}
          </a>
        </li>
        <li>
          <a class="nav-link text-white py-0 mt-3 mt-md-0 d-md-none" data-bs-toggle="collapse"
            data-bs-target="#mynavbar" routerLink="/calculadora">
            {{'menu.calculator' | translate}}
          </a>
          <a class="nav-link text-white py-0 mt-3 mt-md-0 d-none d-md-block" routerLink="/calculadora">
            {{'menu.calculator' | translate}}
          </a>
        </li>
        <li>
          <a class="nav-link text-white py-0 mt-3 mt-md-0 d-md-none" data-bs-toggle="collapse"
            data-bs-target="#mynavbar" routerLink="/pgtas">
            {{'menu.pgtas' | translate}}
          </a>
          <a class="nav-link text-white py-0 mt-3 mt-md-0 d-none d-md-block" routerLink="/pgtas">
            {{'menu.pgtas' | translate}}
          </a>
        </li>
        <li>
          <a class="nav-link text-white py-0 mt-3 mt-md-0 d-md-none" data-bs-toggle="collapse"
            data-bs-target="#mynavbar" routerLink="/equipe">
            {{'menu.team' | translate}}
          </a>
          <a class="nav-link text-white py-0 mt-3 mt-md-0 d-none d-md-block" routerLink="/equipe">
            {{'menu.team' | translate}}
          </a>
        </li>
        <li>
          <a class="nav-link text-white py-0 mt-3 mt-md-0 d-md-none" data-bs-toggle="collapse"
            data-bs-target="#mynavbar" routerLink="/links_uteis">
            {{'menu.useful-links' | translate}}
          </a>
          <a class="nav-link text-white py-0 mt-3 mt-md-0 d-none d-md-block" routerLink="/links_uteis">
            {{'menu.useful-links' | translate}}
          </a>
        </li>
      </ul>
      <ul class="navbar-nav ms-auto mt-5 mt-md-0">
        <li>
          <select style=" background: #C64C2F; border: none; color: white;" (change)="languageSelection($event)">
            <option [selected]="selectedLanguage == 'pt'" value="pt">Português</option>
            <option [selected]="selectedLanguage == 'es'" value="es">Español</option>
            <option [selected]="selectedLanguage == 'en'" value="en">English</option>
          </select>
        </li>
      </ul>
    </div>
  </div>
</nav>