<app-header title="Versão Básica"></app-header>
<div class="container">
    <div class="row">
        <div class="col-lg-6 mb-3">
            <div class="card card-main">
                <div class="card-body">
                    <section>
                        <h1 class="section-title">Guia de Uso</h1>
                        <div class="alert alert-info">
                            <small>
                                Calcula o custo total de implementação de todos os eixos temáticos em uma Terra Indígena
                                selecionada. O usuário escolhe apenas se o objetivo é que todas as atividades da Terra
                                Indígena selecionada atinjam o nível de implementação básico ou bom. Nessa versão não é
                                possível selecionar apenas uma atividade ou eixo temático, nem mais de uma Terra
                                Indígena.
                            </small>
                        </div>
                    </section>
                    <section>
                        <div ngbAccordion>
                            <div ngbAccordionItem [collapsed]="true">
                                <h2 ngbAccordionHeader>
                                    <button ngbAccordionButton>Nível de implementação básico e bom</button>
                                </h2>
                                <div ngbAccordionCollapse>
                                    <div ngbAccordionBody>
                                        <ng-template>
                                            <p>
                                                O nível de implementação é definido para cada atividade segundo métricas
                                                diferentes. Após selecionada a atividade, é exibida uma lista de itens
                                                que definem o nível de implementação básico e o nível de implementação
                                                bom. Essa lista de itens é apenas uma referência e pode variar de acordo
                                                com a realidade de cada Terra Indígena, ou seja, é uma sugestão de
                                                características dos níveis de implementação.
                                            </p>
                                            <p>
                                                O nível de implementação básico atende ao mínimo necessário para a
                                                realização da atividade. O nível de implementação bom vai um pouco além,
                                                adicionando novas ações e melhorias. No entanto, é importante ressaltar
                                                que o nível bom, mesmo sendo melhor que o básico, ainda apresenta
                                                limitações ou aspectos que precisam ser aprimorados, indicando que há
                                                espaço para melhorar o desempenho das atividades.
                                            </p>
                                        </ng-template>
                                    </div>
                                </div>
                            </div>
                            <div ngbAccordionItem [collapsed]="true">
                                <h2 ngbAccordionHeader>
                                    <button ngbAccordionButton>Inflação acumulada desde 2023</button>
                                </h2>
                                <div ngbAccordionCollapse>
                                    <div ngbAccordionBody>
                                        <ng-template>
                                            Os valores devem ser corrigidos pela inflação. Calcule a inflação acumulada
                                            desde 01/2023 utilizando como base o período de 01/2023 até a data presedo
                                            cálculo, a partir do IPCA (IBGE)
                                            <a
                                                href="https://www.ibge.gov.br/explica/inflacao.php">https://www.ibge.gov.br/explica/inflacao.php</a>
                                        </ng-template>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
        <div class="col-lg-6 mb-3">
            <div class="card card-main">
                <div class="card-body">
                    <form [formGroup]="calculatorForm">
                        <div class="form-group">
                            <label class="form-label">
                                <span>Selecione a terra indígena</span>
                            </label>
                            <select class="form-select form-select-sm" required
                                [ngClass]="{ 'is-invalid': calculatorFormSubmitted&&calculatorForm.controls.terraIndigenaId.invalid}"
                                formControlName="terraIndigenaId">
                                <option value="" disabled selected>Selecione a terra indígena</option>
                                <option *ngFor="let ti of terrasIndigenas" [ngValue]="ti.id">{{ti.nome}}
                                </option>
                            </select>
                            <small *ngIf="calculatorFormSubmitted&&calculatorForm.controls.terraIndigenaId.invalid"
                                class="text-danger">
                                Campo Obrigatório.
                            </small>
                        </div>
                        <div class="form-group mt-3">
                            <label class="form-label d-flex justify-content-between">
                                <span>Nível de implementação</span>
                                <fa-icon [icon]="faQuestionCircle"
                                    ngbTooltip="Situação atual de implementação da atividade">
                                </fa-icon>
                            </label>
                            <select class="form-select form-select-sm" required
                                [ngClass]="{ 'is-invalid': calculatorFormSubmitted&&calculatorForm.controls.situacaoAlmejada.invalid}"
                                formControlName="situacaoAlmejada" placeHolder="Selecione o Nível de implementação">
                                <option value="" disabled selected>Selecione o nível de implementação</option>
                                <option *ngFor="let item of niveisImplementacao" [ngValue]="item.value">{{item.text}}
                            </select>
                            <small *ngIf="calculatorFormSubmitted&&calculatorForm.controls.situacaoAlmejada.invalid"
                                class="text-danger">
                                Campo Obrigatório.
                            </small>
                        </div>
                        <div class="form-group mt-3">
                            <label class="form-label d-flex justify-content-between">
                                <span>Inflação acumulada desde 2023 (%)</span>
                                <fa-icon [icon]="faQuestionCircle"
                                    ngbTooltip="Os valores devem ser corrigidos pela inflação, desde 01/2023 a partir do IPCA (IBGE)."></fa-icon>
                            </label>
                            <input type="text" class="form-control form-control-sm" placeholder="Inflação %">
                        </div>
                        <div class="form-group mt-3">
                            <button class="btn btn-secondary" (click)="botaoCalcular()">Calcular</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div *ngIf="mostrarResultado" id="resultado">
        <div class="card card-main mt-3">
            <div class="card-body">
                <h1 class="section-title mt-3 mb-3">Resultado</h1>
                <button class="btn btn-sm btn-secondary mb-3" (click)="gerarPdf()">Download PDF</button>
                <p>
                    O custo previsto para a Terra Indígena <strong>{{resultado.terraIndigena}}</strong><br>
                    com o nível de implementação <strong>{{resultado.nivelImplementacaoAlmejado}}</strong>, por ano, é
                    de:
                </p>
                <h2 class="result-price">{{resultado.valorTotal | currency:'BRL':'symbol':'1.0-0' }}</h2>
                <h6 class="text-muted">
                    {{resultado.valorRecorrente | currency:'BRL':'symbol':'1.0-0' }} <small>Recorrente</small><br>
                    {{resultado.valorNaoRecorrente | currency:'BRL':'symbol':'1.0-0' }} <small>Não
                        Recorrente</small>
                </h6>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-lg-6 mb-3">
                <div class="card card-main">
                    <div class="card-body">
                        <h1 class="section-title mt-3 mb-3">Recorrente</h1>
                        <canvasjs-chart [options]="chartRecorrenteOptions" id="chartRecorrente" [styles]="{width: '100%', height:'300px'}"
                            (chartInstance)="obterReferenciaGraficoRecorrente($event)"></canvasjs-chart>
                    </div>
                </div>
            </div>
            <div class="col-lg-6  mb-3">
                <div class="card card-main">
                    <div class="card-body">
                        <h1 class="section-title mt-3 mb-3">Não Recorrente</h1>
                        <canvasjs-chart [options]="chartNaoRecorrenteOptions" id="chartNaoRecorrente" [styles]="{width: '100%', height:'300px'}"
                            (chartInstance)="obterReferenciaGraficoNaoRecorrente($event)"></canvasjs-chart>
                    </div>
                </div>
            </div>
        </div>

        <div class="card card-main mt-3">
            <div class="card-body">
                <h1 class="section-title mt-3 mb-3">Descrição Por Eixo Temático</h1>
                <div class="row">
                    <div class="col-md-6 col-lg-4 col-xl-3 mb-3" *ngFor="let eixo of eixos">
                        <div class="card h-100">
                            <div class="card-header">{{eixo.nome}}</div>
                            <div class="card-body">
                                <!-- <h5 class="card-title">{{eixo.nome}}</h5> -->
                                <h5 class="text-success">{{ eixo.valorTotal | currency:'BRL':'symbol':'1.0-0'}}</h5>
                                <div style="font-size: 14px; line-height: 14px;">
                                    <p class="mb-0">
                                        <strong>{{ eixo.valorRecorrente | currency:'BRL':'symbol':'1.0-0'}}</strong>
                                        <small class="text-muted ms-1">Recorrente</small>
                                    </p>
                                    <p>
                                        <strong>{{ eixo.valorNaoRecorrente | currency:'BRL':'symbol':'1.0-0'}}</strong>
                                        <small class="text-muted ms-1">Não Recorrente</small>
                                    </p>
                                </div>
                                <p>
                                    {{eixo.descricao}}
                                </p>
                            </div>
                            <div class="card-footer d-flex justify-content-end">
                                <button class="btn btn-sm btn-secondary" (click)="abrirModal(eixo)">Saiba mais</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>