<app-header title="Equipe"></app-header>

<div class="container">
    <section class="mb-5">
        <h1 class="section-title">Coordenação Geral</h1>
        <p class="mb-0">Pedro Gasparinetti</p>
        <p class="mb-0">André Villa-Bôas</p>
    </section>
    <section class="mb-5">
        <h1 class="section-title">Líder Técnico</h1>
        <p class="mb-0">Pedro Gasparinetti</p>
    </section>    
    <section class="mb-5">
        <h1 class="section-title">CSF</h1>
        <h5>Desenvolvimento Conceitual</h5>
        <p class="mb-0">Pedro Gasparinetti</p>
        <p class="mb-0">Meline Cabral Machado</p>
        <p class="mb-0">Júlia Queiroz</p>
        <p class="mb-0">Leonardo Geluda</p>
        <p class="mb-0">Leonardo Bakker</p>

        <h5 class="mt-3">Modelagem Econométrica de Custos</h5>
        <p class="mb-0">Pedro Gasparinetti</p>
        <p class="mb-0">Leonardo Bakker</p>
        <p class="mb-0">Victor Araujo</p>

        <h5 class="mt-3">Coleta de Dados e Estruturação dos Custos</h5>
        <p class="mb-0">Meline Cabral Machado</p>
    </section>
    <section class="mb-5">
        <h1 class="section-title">ISA</h1>
        <h5>Desenvolvimento Conceitual</h5>
        <p class="mb-0">Maria Beatriz Nogueira Ribeiro</p>
        <p class="mb-0">André Villas-Bôas</p>
        <p class="mb-0">Mariel Mitsuri Nakane Aramaki</p>
    </section>
    <section class="mb-5">
        <h1 class="section-title">WEBSITE</h1>
        <h5>Desenvolvimento</h5>
        <p class="mb-0">Marcelo Queiroz das Chagas</p>

        <h5 class="mt-3">Revisão de Conteúdo</h5>
        <p class="mb-0">Meline Cabral Machado</p>
        <p class="mb-0">Maria Beatriz Nogueira Ribeiro</p>
        <p class="mb-0">Victor Araújo</p>
        <p class="mb-0">Waleska Barbosa</p>
        <p class="mb-0">Silia Moan da Silva</p>
    </section>
    <section class="mb-5">
        <h1 class="section-title">REALIZAÇÃO</h1>
        <p class="mb-0"><a href="https://www.conservation-strategy.org/">CSF Brasil</a></p>
        <p class="mb-0"><a href="https://xingumais.org.br/">Rede Xingu +</a></p>
        <p class="mb-0"><a href="https://www.socioambiental.org/">Programa Xingu / Instituto Socioambiental</a></p>
    </section>
    <section class="mb-5">
        <h1 class="section-title">APOIO</h1>
        <p class="mb-0">EDF - Environmental Defense Fund</p>
    </section>

    <app-partners></app-partners>    
</div>