form label {
    font-size: 12px;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
  }
  
  select:required:invalid {
    color: gray;
  }
  
  option[value=""][disabled] {
    display: none;
  }
  
  option {
    color: var(--bs-body-color);
  }
  
.form-check-terra-indigena label {
    font-size: 12px;
    font-weight: unset;
}

.form-check-terra-indigena input {
  width: 14px;
  height: 14px;
}

th, td {
  font-size: 12px;
  vertical-align: middle;
}
