<section class="section-container" id="header">
    <div class="container">
        <h1 class="section-title text-center">VERSÃO COMPARATIVA</h1>
    </div>
</section>

<section class="section-container bg-gray" id="info">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="video">
                    <iframe frameborder="0" allowfullscreen
                        src="https://www.youtube.com/embed/6BDqno8Fdow?si=fDu95A_Gepi6FRSI" title="Video Tutorial"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                        referrerpolicy="strict-origin-when-cross-origin">
                    </iframe>
                </div>
            </div>
            <div class="col-lg-6">
                <p>
                    Versão de comparação entre terras indígenas, a Versão Comparativa calcula o custo total de gestão
                    dos eixos temáticos selecionados em uma ou mais Terras Indígenas. O usuário deve definir a situação
                    atual de gestão da(s) terra(s), bem como a situação almejada (investimento para gestão básica ou
                    investimento para gestão boa).
                </p>
                <p>
                    Essa versão é indicada para quem deseja comparar os resultados entre terras e/ou eixos e também para
                    quem atua em mais de uma terra indígena e pretende ter informações gerais de custos de gestão de
                    eixos selecionados.
                </p>
            </div>
        </div>
    </div>
</section>

<section class="section-container bg-white" id="form">
    <div class="container">
        <form [formGroup]="calculadoraForm" class="calculadora-form">
            <div class="row">
                <div class="col-md-4 mb-3">
                    <div class="form-group">
                        <label class="form-label">Selecione a terra indígena</label>
                        <div *ngFor="let grupo of grupoTerrasIndigenas">
                            <label>{{grupo.nomeGrupo}}</label>
                            <div class="form-check form-check-terra-indigena"
                                *ngFor="let terraIndigena of grupo.terrasIndigenas">
                                <input class="form-check-input" type="checkbox"
                                    (change)="selecionarTerraIndigena($event,terraIndigena)"
                                    id="{{'flexCheck' + terraIndigena.nome}}">
                                <label class="form-check-label" for="{{'flexCheck' + terraIndigena.nome}}">
                                    {{terraIndigena.nome}}
                                </label>
                            </div>
                        </div>
                        <small *ngIf="calculadoraFormEnviado&&terrasIndigenasSelecionadas.length==0"
                            class="text-danger">
                            Campo Obrigatório.
                        </small>
                    </div>
                </div>
                <div class="col-md-4 mb-3">
                    <div class="form-group mt-3">
                        <label class="form-label d-flex justify-content-between">
                            <span>Eixo temático</span>
                            <fa-icon [icon]="faQuestionCircle"
                                ngbTooltip="Ações a serem realizadas para o alcance dos eixos temáticos">
                            </fa-icon>
                        </label>
                        <div class="form-check form-check-terra-indigena" *ngFor="let eixo of eixos">
                            <input class="form-check-input" type="checkbox" (change)="selecionarEixo($event,eixo)"
                                id="{{'flexCheck' + eixo.nome}}">
                            <label class="form-check-label" for="{{'flexCheck' + eixo.nome}}">
                                {{eixo.nome}}
                            </label>
                        </div>
                        <small *ngIf="calculadoraFormEnviado&&eixosSelecionados.length==0" class="text-danger">
                            Campo Obrigatório.
                        </small>
                    </div>
                    <!-- TIPO CUSTO -->
                    <div class="form-group mt-3">
                        <label class="form-label">
                            <span>Tipo de custo</span>
                            <fa-icon [icon]="faQuestionCircle"
                                ngbTooltip="Custos correntes são despesas anuais e custos não recorrentes se referem a despesas que não se repetem anualmente."></fa-icon>
                        </label>
                        <select class="form-select form-select-sm" required
                            [ngClass]="{ 'is-invalid': calculadoraFormEnviado&&calculadoraForm.controls.tipoCusto.invalid}"
                            formControlName="tipoCusto">
                            <option value="1">Recorrente (anual)</option>
                            <option value="2">Não recorrentes (eventual)</option>
                        </select>
                        <small *ngIf="calculadoraFormEnviado&&calculadoraForm.controls.tipoCusto.invalid"
                            class="text-danger">
                            Campo Obrigatório.
                        </small>
                    </div>
                    <!-- Situação atual de Gestão da Terra -->
                    <div class="form-group mt-3">
                        <label class="form-label">
                            <span>Situação atual de Gestão da Terra</span>
                            <fa-icon [icon]="faQuestionCircle" ngbTooltip="Situação atual de Gestão da Terra"></fa-icon>
                        </label>
                        <select class="form-select form-select-sm" required
                            [ngClass]="{ 'is-invalid': calculadoraFormEnviado&&calculadoraForm.controls.nivelImplementacaoAtual.invalid}"
                            formControlName="nivelImplementacaoAtual">
                            <option [value]="null" disabled selected>Situação atual de Gestão da Terra</option>
                            <option *ngFor="let item of listaNivelImplementacaoAtual" [value]="item.value">
                                {{item.label}}</option>
                        </select>
                        <small *ngIf="calculadoraFormEnviado&&calculadoraForm.controls.nivelImplementacaoAtual.invalid"
                            class="text-danger">
                            Campo Obrigatório.
                        </small>
                    </div>
                    <!-- Situação desejada de Gestão da Terra -->
                    <div class="form-group mt-3">
                        <label class="form-label d-flex justify-content-between">
                            <span>Situação desejada de Gestão da Terra</span>
                            <fa-icon [icon]="faQuestionCircle" ngbTooltip="Situação desejada de Gestão da Terra">
                            </fa-icon>
                        </label>
                        <select class="form-select form-select-sm" required
                            [ngClass]="{ 'is-invalid': calculadoraFormEnviado&&calculadoraForm.controls.nivelImplementacaoAlmejado.invalid}"
                            formControlName="nivelImplementacaoAlmejado">
                            <option value="null" disabled selected>Situação desejada de Gestão da Terra</option>
                            <option *ngFor="let item of listaNivelImplementacaoAlmejado" [ngValue]="item.value">
                                {{item.label}}
                        </select>
                        <small
                            *ngIf="calculadoraFormEnviado&&calculadoraForm.controls.nivelImplementacaoAlmejado.invalid"
                            class="text-danger">
                            Campo Obrigatório.
                        </small>
                    </div>

                    <div class="form-group mt-3">
                        <label class="form-label d-flex justify-content-between">
                            <span>Inflação acumulada desde 2023 (%)</span>
                            <fa-icon [icon]="faQuestionCircle"
                                ngbTooltip="Os valores devem ser corrigidos pela inflação, desde 01/2023 a partir do IPCA (IBGE)."></fa-icon>
                        </label>
                        <input type="text" class="form-control form-control-sm" placeholder="(Opcional)"
                            formControlName="inflacao" numbersOnly>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="d-flex">
                        <img src="./assets/images/mapas/terra_indigena_geral.png" style="max-width: 100%;" alt="">
                        <div class="align-self-center">
                            <a routerlink="/pgtas" class="link_pgta" target="_blank">
                                Acesse aqui os PGTAs
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="d-flex mt-3">
                <button class="btn btn-lg btn-secondary rounded-pill px-5 w-25"
                    (click)="botaoCalcular()">Calcular</button>
                <app-loading *ngIf="mostrarCarregando"></app-loading>
            </div>
        </form>
    </div>
</section>

<div id="resultado"></div>

<section class="section-container bg-gray" id="resultados" *ngIf="mostrarResultado&&resultado">
    <div class="container">
        <h1 class="section-small-title text-center text-uppercase mb-5">Resultados</h1>
        <button class="btn btn-lg btn-secondary rounded-pill" (click)="gerarPdf()">Baixar PDF</button>
        <p class=" mb-3">
            O custo previsto para as Terras Indígenas
            <strong>{{resultado.terrasIndigenasSelecionadas}}</strong><br>
            para o eixos temáticos <strong>{{resultado.eixosSelecionados}}</strong> com o nível de implementação
            <strong>{{resultado.nivelImplementacao}}</strong> , {{resultado.tipoCusto == 1 ? 'por ano, ': ''}}é
            de:
        </p>
        <canvasjs-chart [options]="chartOptions" (chartInstance)="getChartInstance($event)" id="chart"
            [styles]="{width: '100%', height:'500px'}"></canvasjs-chart>
    </div>
</section>

<section class="section-container bg-white" id="custos_por_eixos" *ngIf="mostrarResultado&&resultado">
    <div class="container">
        <h1 class="section-small-title text-center mb-5 text-uppercase">Custos Por Eixos</h1>
        <div class="table-responsive">
            <table class="table table-sm table-bordered">
                <thead>
                    <tr>
                        <th>Terra Indigena</th>
                        <th *ngFor="let eixo of resultado.eixosSelecionados">{{eixo}}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let terraIndigena of resultado.terrasIndigenas">
                        <td>{{terraIndigena.nome}}</td>
                        <td *ngFor="let eixo of terraIndigena.resultadoEixos">{{eixo.valorEixo |
                            currency:'BRL':'symbol':'1.0-0'}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>