.form-check-terra-indigena label {
  font-size: 12px;
  font-weight: unset;
}

.form-check-terra-indigena input {
  width: 14px;
  height: 14px;
}

th,
td {
  font-size: 12px;
  vertical-align: middle;
}
