<app-header title="Versão Detalhada"></app-header>
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <section>
                <h1 class="section-title">Guia de Uso</h1>
                <div class="alert alert-info">
                    <p>
                        Calcula o custo de implementação por atividade de uma Terra Indígena, podendo o usuário alterar
                        os valores das características da Terra Indígena (tamanho, população, aldeia, complexidade de
                        acesso, grau de ameaça, grau de diversidade e localização da sede da associação) e também
                        definir o nível de implementação desejado para cada atividade em uma escala de 0 a 20 (em que 10
                        é “básico” e 20 é “bom”). Os níveis de implementação foram definidos apenas para os níveis
                        básico (10) e bom (20). Caso o usuário defina um valor diferente de 10 ou 20, deve-se considerar
                        que se estará "no meio do caminho" entre um nível e outro. Por exemplo, o 15 está na metade do
                        caminho entre o nível básico e bom, mas não há uma definição exata da lista de itens desse meio
                        caminho, que pode variar. Essa versão é indicada para usuários que atuam em atividades
                        específicas em uma Terra Indígena e que busca informações mais detalhadas sobre o custo para a
                        implementação de cada atividade, incluindo em termos intermediários, de avanço gradual entre um
                        nível e outro.
                    </p>
                </div>
            </section>
        </div>
        <div class="col-md-6"></div>
    </div>
</div>