form label {
  font-size: 12px;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
}

select:required:invalid {
  color: gray;
}

option[value=""][disabled] {
  display: none;
}

option {
  color: var(--bs-body-color);
}