.cls-1,
.cls-19,
.cls-20,
.cls-22,
.cls-23,
.cls-24,
.cls-25,
.cls-26,
.cls-29,
.cls-30,
.cls-36,
.cls-40,
.cls-46,
.cls-52,
.cls-55,
.cls-59,
.cls-64,
.cls-67,
.cls-71,
.cls-72,
.cls-74 {
  fill: none;
}

.cls-2 {
  fill: #d6432b;
}

.cls-3 {
  fill: #b27539;
}

.cls-4 {
  clip-path: url(#clip-path);
}

.cls-5 {
  fill: #073c29;
}

.cls-6 {
  fill: #bf7a4b;
}

.cls-7 {
  fill: #4e8974;
}

.cls-10,
.cls-11,
.cls-15,
.cls-16,
.cls-8 {
  fill: #d9cfc7;
}

.cls-75,
.cls-76,
.cls-8,
.cls-89,
.cls-90 {
  stroke: #000;
}

.cls-11,
.cls-15,
.cls-16,
.cls-19,
.cls-20,
.cls-22,
.cls-23,
.cls-24,
.cls-25,
.cls-26,
.cls-29,
.cls-30,
.cls-36,
.cls-40,
.cls-46,
.cls-52,
.cls-55,
.cls-59,
.cls-64,
.cls-67,
.cls-71,
.cls-72,
.cls-74,
.cls-75,
.cls-76,
.cls-8,
.cls-89,
.cls-90 {
  stroke-miterlimit: 10;
}

.cls-75,
.cls-76,
.cls-8 {
  stroke-width: 0.5px;
}

.cls-9 {
  fill: #5baec1;
}

.cls-11,
.cls-15,
.cls-16 {
  stroke: #8f857d;
}

.cls-11 {
  stroke-width: 0.99px;
}

.cls-12 {
  fill: #8f857d;
}

.cls-13 {
  fill: #1d1e1c;
}

.cls-14 {
  fill: #c98a45;
}

.cls-15 {
  stroke-width: 1.36px;
}

.cls-16 {
  stroke-width: 1.01px;
}

.cls-17,
.cls-75,
.cls-89 {
  fill: #192a33;
}

.cls-18 {
  fill: #507659;
}

.cls-19,
.cls-20,
.cls-22,
.cls-23,
.cls-24,
.cls-25 {
  stroke: #4c8973;
}

.cls-19 {
  stroke-width: 0.27px;
}

.cls-20 {
  stroke-width: 0.24px;
}

.cls-21 {
  fill: #2a5646;
}

.cls-22 {
  stroke-width: 0.28px;
}

.cls-23 {
  stroke-width: 0.25px;
}

.cls-24 {
  stroke-width: 0.26px;
}

.cls-25 {
  stroke-width: 0.23px;
}

.cls-26 {
  stroke: #51321d;
  stroke-width: 3.91px;
}

.cls-27,
.cls-76,
.cls-90 {
  fill: #fff;
}

.cls-28 {
  fill: #243346;
}

.cls-29,
.cls-30 {
  stroke: #fff;
}

.cls-29 {
  stroke-width: 0.67px;
}

.cls-30 {
  stroke-width: 0.17px;
}

.cls-31 {
  fill: #b55d37;
}

.cls-32 {
  fill: #e2b307;
}

.cls-33 {
  fill: #eae9e5;
}

.cls-34 {
  fill: #a34c2e;
}

.cls-35 {
  fill: #9b4a2d;
}

.cls-36 {
  stroke: #b5c4b8;
  stroke-width: 3.08px;
}

.cls-37 {
  fill: #2f7dd1;
}

.cls-38 {
  fill: #9e4f33;
}

.cls-39 {
  clip-path: url(#clip-path-2);
}

.cls-40,
.cls-46 {
  stroke: #192a33;
}

.cls-40 {
  stroke-width: 1.69px;
}

.cls-41 {
  fill: #9e482b;
}

.cls-42 {
  fill: #357c38;
}

.cls-43 {
  fill: #e1b209;
}

.cls-44 {
  fill: #d8714c;
}

.cls-45 {
  clip-path: url(#clip-path-3);
}

.cls-46 {
  stroke-width: 2.07px;
}

.cls-47 {
  fill: #e2bb64;
}

.cls-48 {
  fill: #773e18;
}

.cls-49 {
  fill: #ad683a;
}

.cls-50 {
  fill: #91501f;
}

.cls-51 {
  fill: #9b622f;
}

.cls-52 {
  stroke: #9e4f33;
  stroke-width: 0.91px;
}

.cls-53 {
  fill: #c99367;
}

.cls-54 {
  clip-path: url(#clip-path-4);
}

.cls-55 {
  stroke: #1d1d1b;
  stroke-width: 1.57px;
}

.cls-56 {
  clip-path: url(#clip-path-5);
}

.cls-57 {
  fill: #96462a;
}

.cls-58 {
  fill: #b1e0ef;
}

.cls-59 {
  stroke: #e2b307;
  stroke-width: 2.35px;
}

.cls-60 {
  fill: #c15214;
}

.cls-61 {
  fill: #ed6e1b;
}

.cls-62 {
  fill: #6d3aaf;
}

.cls-63 {
  fill: #4b2684;
}

.cls-64 {
  stroke: #1d1e1c;
}

.cls-64,
.cls-67 {
  stroke-width: 1.18px;
}

.cls-65 {
  fill: #b6c7ce;
}

.cls-66 {
  fill: #edefed;
}

.cls-67 {
  stroke: #edefed;
}

.cls-68 {
  fill: #c6c6c6;
}

.cls-69 {
  fill: #a2aaa2;
}

.cls-70 {
  fill: #c44b30;
}

.cls-71 {
  stroke: #d8d0c7;
  stroke-width: 0.76px;
}

.cls-72 {
  stroke: #2f7dd1;
  stroke-width: 1.57px;
}

.cls-73 {
  fill: #f4c327;
}

.cls-74 {
  stroke: #c98a45;
  stroke-width: 1.01px;
}

.cls-77,
.cls-83,
.cls-91,
.cls-94 {
  font-size: 13.06px;
}

.cls-102,
.cls-77,
.cls-83,
.cls-91,
.cls-94 {
  font-family: Raleway-Medium, Raleway;
  font-weight: 500;
}

.cls-77,
.cls-81 {
  letter-spacing: 0.1em;
}

.cls-78 {
  letter-spacing: 0.09em;
}

.cls-79,
.cls-91 {
  letter-spacing: 0.1em;
}

.cls-80 {
  letter-spacing: 0.09em;
}

.cls-82 {
  letter-spacing: 0.03em;
}

.cls-83 {
  letter-spacing: 0.09em;
}

.cls-84 {
  letter-spacing: 0.09em;
}

.cls-85 {
  letter-spacing: 0.09em;
}

.cls-86 {
  letter-spacing: 0.08em;
}

.cls-87 {
  letter-spacing: -0.01em;
}

.cls-88 {
  letter-spacing: 0.07em;
}

.cls-89,
.cls-90 {
  stroke-width: 0.61px;
}

.cls-92 {
  letter-spacing: 0.07em;
}

.cls-93 {
  letter-spacing: 0.07em;
}

.cls-94,
.cls-97 {
  letter-spacing: 0.1em;
}

.cls-95 {
  letter-spacing: 0.07em;
}

.cls-96 {
  letter-spacing: 0.08em;
}

.cls-98 {
  letter-spacing: 0.06em;
}

.cls-99 {
  letter-spacing: 0.08em;
}

.cls-100 {
  letter-spacing: 0.09em;
}

.cls-101 {
  letter-spacing: 0.07em;
}

.cls-102 {
  font-size: 12.72px;
  letter-spacing: 0.09em;
}

.cls-103 {
  letter-spacing: 0.1em;
}

.cls-104 {
  letter-spacing: 0.07em;
}

.cls-105 {
  letter-spacing: 0.06em;
}

.cls-106 {
  letter-spacing: 0.06em;
}

.cls-107 {
  letter-spacing: 0.1em;
}

.cls-108 {
  letter-spacing: 0.09em;
}

.cls-109 {
  letter-spacing: 0.08em;
}

.cls-110 {
  letter-spacing: 0.1em;
}

.cls-111 {
  letter-spacing: 0.08em;
}

.cls-112 {
  letter-spacing: 0.09em;
}

.cls-113 {
  letter-spacing: 0.03em;
}

.cls-114 {
  letter-spacing: 0.08em;
}

.cls-115 {
  letter-spacing: 0.03em;
}
