<section class="section-container" id="header">
    <div class="container">
        <h1 class="section-title text-center">
            {{'team.title' | translate}}
        </h1>
    </div>
</section>

<section class="section-container bg-gray" id="equipe">
    <div class="container">
        <div class="mb-5">
            <h1 class="section-small-title">
                {{'team.general-coordination' | translate}}
            </h1>
            <p class="mb-0">André Villa-Bôas</p>
            <p class="mb-0">Pedro Gasparinetti</p>
        </div>
        <div class="mb-5">
            <h1 class="section-small-title">
                {{'team.technical-leader' | translate}}
            </h1>
            <p class="mb-0">Pedro Gasparinetti</p>
        </div>
        <div class="mb-5">
            <h1 class="section-small-title">
                {{'team.conceptual-development' | translate}}
            </h1>
            <p class="mb-0">André Villas-Bôas</p>
            <p class="mb-0">Júlia Queiroz</p>
            <p class="mb-0">Leonardo Bakker</p>
            <p class="mb-0">Leonardo Geluda</p>
            <p class="mb-0">Maria Beatriz Nogueira Ribeiro</p>
            <p class="mb-0">Mariel Mitsuri Nakane Aramaki</p>
            <p class="mb-0">Meline Cabral Machado</p>
            <p class="mb-0">Pedro Gasparinetti</p>
        </div>
        <div class="mb-5">
            <h1 class="section-small-title">
                {{'team.econometric-cost-modeling' | translate}}
            </h1>
            <p class="mb-0">Pedro Gasparinetti</p>
            <p class="mb-0">Leonardo Bakker</p>
            <p class="mb-0">Victor Araujo</p>
        </div>
        <div class="mb-5">
            <h1 class="section-small-title">
                {{'team.data-collection-and-cost-structuring' | translate}}
            </h1>
            <p class="mb-0">Meline Cabral Machado</p>
        </div>
        <div class="mb-5">
            <h1 class="section-small-title">Website</h1>

            <h5 class="mt-3 mb-0 section-text-color">
                {{'team.content-review' | translate}}
            </h5>
            <p class="mb-0">Luisa Turbay</p>
            <p class="mb-0">Maria Beatriz Nogueira Ribeiro</p>
            <p class="mb-0">Meline Cabral Machado</p>
            <p class="mb-0">Victor Araújo</p>
            <p class="mb-0">Silia Moan da Silva</p>

            <h5 class="mt-3 mb-0 section-text-color">
                {{'team.development' | translate}}
            </h5>
            <p class="mb-0">Marcelo Queiroz das Chagas</p>

            <h5 class="mt-3 mb-0 section-text-color">
                {{'team.ux-ui-designer' | translate}}
            </h5>
            <p class="mb-0">Milena Lopes</p>

            <h5 class="mt-3 mb-0 section-text-color">
                {{'team.Illustration' | translate}}
            </h5>
            <p class="mb-0">Thais Felix</p>
        </div>
    </div>
</section>

<section class="section-container bg-white" id="realizacao-equipe-apoio">
    <div class="container">
        <div class="row mt-5">
            <div class="col-md-8">
                <app-realizacao></app-realizacao>
            </div>
            <div class="col-auto mt-5 mt-md-0">
                <app-apoio></app-apoio>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col"><app-parceiros></app-parceiros></div>
        </div>
    </div>

</section>