<section class="section-container" id="header">
    <div class="container">
        <h1 class="section-title text-center">
            {{'useful-links.title' | translate}}
        </h1>
    </div>
</section>

<section class="section-container bg-white" id="links">
    <div class="container">
        <div class="mb-5">
            <h3 class="section-small-title">
                {{'useful-links.link-1.title' | translate}}:
            </h3>
            <a class="text-secondary" href="https://xingumais.org.br" target="_blank">
                {{'useful-links.link-1.description' | translate}}
            </a>
        </div>
        <div class="mb-5">
            <h3 class="section-small-title">
                {{'useful-links.link-2.title' | translate}}:
            </h3>
            <a class="text-secondary" href="https://pib.socioambiental.org/pt/P%C3%A1gina_principal" target="_blank">
                {{'useful-links.link-2.description' | translate}}
            </a>
        </div>
        <div class="mb-5">
            <h3 class="section-small-title">
                {{'useful-links.link-3.title' | translate}}:
            </h3>
            <a class="text-secondary" href="https://terrasindigenas.org.br/" target="_blank">
                {{'useful-links.link-3.description' | translate}}
            </a>
        </div>
        <div class="mb-5">
            <h3 class="section-small-title">
                {{'useful-links.link-4.title' | translate}}:
            </h3>
            <a class="text-secondary" href="https://xingumais.org.br/acervo" target="_blank">
                {{'useful-links.link-4.description' | translate}}
            </a>
        </div>

        <div class="mb-5">
            <h3 class="section-small-title">
                {{'useful-links.link-5.title' | translate}}:
            </h3>
            <a class="text-secondary" href="http://xingumais.org.br/observatorios" target="_blank">
                {{'useful-links.link-5.description' | translate}}
            </a>
        </div>
        <div class="mb-5">
            <h3 class="section-small-title">
                {{'useful-links.link-6.title' | translate}}:
            </h3>
            <a class="text-secondary" href="https://xingumais.org.br/categoria/sirad-x" target="_blank">
                {{'useful-links.link-6.description' | translate}}
            </a>
        </div>
    </div>
</section>