<app-page-title title="Links Úteis"></app-page-title>

<div class="container main-container">
    <section>
        <div class="mb-5">
            <h3 class="section-small-title">Plataforma da Rede Xingu+:</h3>
            <a class="text-secondary" href="https://xingumais.org.br" target="_blank">xingumais.org.br</a>
        </div>
        <div class="mb-5">
            <h3 class="section-small-title">Site Povos Indígenas do Brasil:</h3>
            <a class="text-secondary" href="https://pib.socioambiental.org/pt/P%C3%A1gina_principal"
                target="_blank">pib.socioambiental.org/pt</a>
        </div>
        <div class="mb-5">
            <h3 class="section-small-title">Site Terras Indígenas do Brasil:</h3>
            <a class="text-secondary" href="https://terrasindigenas.org.br/" target="_blank">terrasindigenas.org.br</a>
        </div>
        <div class="mb-5">
            <h3 class="section-small-title">Acervo da Rede Xingu+:</h3>
            <a class="text-secondary" href="https://xingumais.org.br/acervo" target="_blank">xingumais.org.br/acervo</a>
        </div>

        <div class="mb-5">
            <h3 class="section-small-title">Observatório De Olho no Xingu:</h3>
            <a class="text-secondary" href="http://xingumais.org.br/observatorios"
                target="_blank">xingumais.org.br/observatorios</a>
        </div>
        <div class="mb-5">
            <h3 class="section-small-title">Sistema de Monitoramento do Desmatamento do Xingu por Radar:</h3>
            <a class="text-secondary" href="https://xingumais.org.br/categoria/sirad-x"
                target="_blank">xingumais.org.br/categoria/sirad-x</a>
        </div>

    </section>

</div>