<app-header title="Calculadora"></app-header>
<div class="container main-container">
    <section>
        <p>
            A Calculadora de Custos de Gestão de Terras Indígenas é uma ferramenta online desenvolvida com o objetivo de
            auxiliar as organizações indígenas da bacia do Xingu no planejamento orçamentário e na captação de recursos
            para implementação de seus PGTAs, por meio da projeção de custos relacionados aos diferentes eixos temáticos
            neles previstos.
        </p>
        <p>
            Elaborada a partir de despesas históricas em oito territórios indígenas do Corredor Xingu e em projeções de
            custos para diferentes cenários, como mudanças na população, no grau de ameaça, no tamanho do território,
            entre outros, a Calculadora permite calcular os custos associados à implementação dos PGTAs com base nas
            características e no nível atual e pretendido de implementação de cada Terra Indígena. Esses custos serão
            atualizados conforme necessário.
        </p>
        <p>
            A ferramenta também desempenha um papel importante na identificação de lacunas financeiras relacionadas à
            implementação de ações de gestão territorial e ambiental das Terras Indígenas, demonstrando as demandas a
            financiadores e orientando caminhos para a priorização e a alocação de recursos para fundos e projetos em
            diversos contextos regionais da bacia do Xingu.
        </p>
        <p>
            A Calculadora de Custos visa não apenas apoiar as organizações locais, parceiras e doadores no planejamento
            financeiro das ações relacionadas aos PGTAs, mas principalmente beneficiar as populações indígenas e
            proteger a biodiversidade e os recursos naturais do Corredor Xingu por meio do fortalecimento da gestão
            ambiental e territorial e da alocação mais eficaz de recursos em seus territórios.
        </p>
        <div class="row mt-5">
            <div class="col d-flex justify-content-center">
                <a class="btn btn-lg btn-outline-dark" routerLink="/calculadora-terra-indigena">ACESSE A CALCULADORA</a>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col d-flex justify-content-center">
                <a class="btn btn-link" routerLink="/calculadora-terra-indigena">COMPARE MAIS DE UMA TERRA</a>
            </div>
        </div>
    </section>
</div>