<section id="calculadora">
    <div class="container">
        <h1 class="section-title text-center">CALCULADORA DO CUSTO DE<br> GESTÃO DE TERRAS INDÍGENAS</h1>
        <div class="row mt-5">
            <div class="col d-flex justify-content-center">
                <a class="btn btn-lg btn-secondary rounded-pill px-5 py-3" routerLink="/calculadora-terra-indigena">
                    Acesse a calculadora
                </a>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col d-flex justify-content-center">
                <a class="btn btn-sm btn-link text-dark fw-bold text-decoration-none"
                    routerLink="/calculadora-agrupada">
                    COMPARE MAIS DE UMA TERRA
                </a>
            </div>
        </div>
    </div>
</section>