<section id="calculadora">
    <div class="container">
        <h1 class="section-title text-center">
            {{'calculator.title' | translate}}
        </h1>
        <div class="row mt-5">
            <div class="col d-flex justify-content-center">
                <a class="btn btn-lg btn-secondary rounded-pill px-5 py-3" routerLink="/calculadora_terra_indigena">
                    {{'calculator.button-1' | translate}}
                </a>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col d-flex justify-content-center">
                <a class="btn btn-sm btn-link text-dark fw-bold text-decoration-none"
                    routerLink="/calculadora_comparativa">
                    {{'calculator.button-2' | translate}}
                </a>
            </div>
        </div>
    </div>
</section>
