<section id="header">
    <div class="header-bg">
        <div class="container">
            <h1>Custos de gestão de terras indígenas</h1>
            <h2 class="mt-3">
                A Calculadora de Custos de Gestão de Terras Indígenas é uma ferramenta online desenvolvida com o
                objetivo de auxiliar as organizações indígenas da bacia do Xingu no planejamento orçamentário e na
                captação de recursos para implementação de seus PGTAs, por meio da projeção de custos relacionados aos
                diferentes eixos temáticos neles previstos.
            </h2>
        </div>
    </div>
</section>

<div class="container main-container">
    <section id="usos-possiveis" class="mb-5">
        <h1 class="section-title text-center mb-5">Usos Possíveis</h1>
        <ul>
            <li>
                <h2>Planejar</h2>
                <p>
                    Auxiliar organizações indígenas, parceiras e apoiadoras no planejamento financeiro, na
                    avaliação
                    de lacunas de financiamento e na elaboração de orçamentos relacionados a ações de gestão dos
                    territórios
                </p>
            </li>
            <li>
                <h2>Avaliar</h2>
                <p>
                    Subsidiar a tomada de decisões pelas organizações locais por meio de informações
                    relacionadas a
                    custos de atividades
                </p>
            </li>
            <li>
                <h2>Priorizar</h2>
                <p>
                    Demonstrar a demanda financeira das organizações para um investimento eficiente na
                    implementação
                    das atividades e políticas públicas
                </p>
            </li>
        </ul>
    </section>
    <hr>
    <section id="metodologia" class="mt-5 mb-5">
        <h1 class="section-title text-center mb-5">Metodologia</h1>
        <p>Para realizar as projeções de custos por Terra Indígena, eixos e atividades, a calculadora de custos
            estabelece relações estatísticas entre as características das Terras Indígenas, como tamanho, número de
            aldeias, nível de ameaça externa, complexidade de acesso, os possíveis níveis de implementação das
            atividades previstas nos Planos de Gestão de Terras Indígenas (PGTA), e seus custos médios de implementação.
            Cada atividade tem uma fórmula para prever os custos médios com base (i) nos gastos históricos médios de
            oito Terras Indígenas que tiveram dados coletados e analisados, e (ii) em projeções de custos para cenários
            hipotéticos que consideram mudanças possíveis nas características das terras indígenas e nos níveis de
            implementação das atividades ao longo do tempo. Desta forma, é possível calcular os custos conforme os
            níveis de implementação e as características das terras indígenas.</p>

        <ul class="mt-5 mb-5">
            <li ngbTooltip="Extensão da Terra Indígena, em hectares">
                Tamanho da terra
            </li>
            <li class="baixo" ngbTooltip="Quantidade de aldeias na Terra Indígena">
                Número de aldeias
            </li>
            <li ngbTooltip="Quantidade de pessoas residentes na Terra Indígena">
                População
            </li>
            <li class="baixo" ngbTooltip="Número de povos que vivem na Terra Indígena">
                Número de povos
            </li>
            <li ngbTooltip="Classificação baseada no tipo e intensidade das ameaças para a Terra Indígena">
                Grau de ameaça
            </li>
            <li class="baixo"
                ngbTooltip="Classificação da dificuldade de acesso para a maioria das aldeias da Terra Indígena">
                Complexidade de acesso
            </li>
            <li ngbTooltip="Classificação da dificuldade de acesso para a maioria das aldeias da Terra Indígena">
                Localização da sede
            </li>
        </ul>

        <div class="row">
            <div class="col d-flex justify-content-center">
                <a class="btn btn-sm btn-outline-dark" routerLink="/metodologia">Saiba mais sobre a metodologia</a>
            </div>
        </div>

        <div class="row mt-5">
            <div class="col">
                <h2 class="section-sub-title mb-5">Eixos temáticos</h2>
                <p>Os tipos de atividade são agrupados por “Eixos Temáticos” (ver metodologia completa), definidos pelas
                    equipes do Instituto Socioambiental (ISA) e Conservação Estratégica (CSF) com base nos PGTAs
                    publicados das Terras Indígenas (TIs) da Bacia do Rio Xingu. São 8 eixos temáticos, resultando em um
                    total de 29 atividades. Para cada atividade foi definida uma métrica para avaliar seu nível de
                    implementação.</p>
                <div>
                    <img src="assets/images/eixos_ilustracao.png" style="max-width: 100%;" alt="ilustração eixos">
                </div>

                <div class="row mt-5">
                    <div class="col d-flex justify-content-center">
                        <a class="btn btn-lg btn-outline-dark" routerLink="/calculadora-terra-indigena">Acesse a
                            calculadora</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <hr>
    <section>
        <div class="row mt-5">
            <div class="col-md-8">
                <app-realizacao></app-realizacao>
            </div>
            <div class="col-auto">
                <app-apoio></app-apoio>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col"><app-parceiros></app-parceiros></div>
        </div>
    </section>
</div>