<section class="section-container" id="header">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <h1 class="section-title">{{'home.section-header.title' | translate}}</h1>
            </div>
            <div class="col-md-4">
                <p>
                    {{'home.section-header.description' | translate}}
                </p>
            </div>
        </div>
    </div>
</section>

<section class="section-container bg-gray" id="usos-possiveis">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 mb-5 align-self-center">
                <h1 class="section-sub-title">
                    {{'home.section-possible-uses.title' | translate}}
                </h1>
            </div>
            <div class="col-lg-9">
                <div class="row">
                    <div class="col-md-4 d-flex flex-column">
                        <img src="assets/images/home/usos_possiveis_planejar.png" alt="">
                        <h2>{{'home.section-possible-uses.item-1.title' | translate }}</h2>
                        <p>
                            {{'home.section-possible-uses.item-1.description' | translate}}
                        </p>
                    </div>
                    <div class="col-md-4 d-flex flex-column">
                        <img src="assets/images/home/usos_possiveis_avaliar.png" alt="">
                        <h2>{{'home.section-possible-uses.item-2.title' | translate}}</h2>
                        <p>
                            {{'home.section-possible-uses.item-2.description' | translate}}
                        </p>
                    </div>
                    <div class="col-md-4 d-flex flex-column">
                        <img src="assets/images/home/usos_possiveis_priorizar.png" alt="">
                        <h2>{{'home.section-possible-uses.item-3.title' | translate}}</h2>
                        <p>
                            {{'home.section-possible-uses.item-2.description' | translate}}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section-container bg-white" id="eixos-tematicos">
    <div class="container">
        <h1 class="section-sub-title text-center">
            {{'home.section-thematic-axes.title' | translate}}
        </h1>
        <p class="m-0">
            {{'home.section-thematic-axes.description' | translate}}
        </p>
    </div>
    <div class="ilustracao ilustracao_completa">
        <app-eixos-ilustracao-completa></app-eixos-ilustracao-completa>
    </div>

    <div class="ilustracao ilustracao_mobile">
        <app-eixos-ilustracao-1></app-eixos-ilustracao-1>
        <app-eixos-ilustracao-2></app-eixos-ilustracao-2>
        <app-eixos-ilustracao-3></app-eixos-ilustracao-3>
        <app-eixos-ilustracao-4></app-eixos-ilustracao-4>
    </div>
</section>

<section class="section-container bg-gray" id="metodologia">
    <div class="container">
        <h1 class="section-title text-center">
            {{'home.section-methodology.title' | translate}}
        </h1>
        <p>
            {{'home.section-methodology.description' | translate}}
        </p>

        <ul class="mt-5 mb-5">
            <li ngbTooltip="{{'home.section-methodology.item-1.description' | translate}}">
                {{'home.section-methodology.item-1.title' | translate}}
            </li>
            <li ngbTooltip="{{'home.section-methodology.item-2.description' | translate}}">
                {{'home.section-methodology.item-2.title' | translate}}
            </li>
            <li ngbTooltip="{{'home.section-methodology.item-3.description' | translate}}">
                {{'home.section-methodology.item-3.title' | translate}}
            </li>
            <li ngbTooltip="{{'home.section-methodology.item-4.description' | translate}}">
                {{'home.section-methodology.item-4.title' | translate}}
            </li>
            <li ngbTooltip="{{'home.section-methodology.item-5.description' | translate}}">
                {{'home.section-methodology.item-5.title' | translate}}
            </li>
            <li ngbTooltip="{{'home.section-methodology.item-6.description' | translate}}">
                {{'home.section-methodology.item-6.title' | translate}}
            </li>
            <li ngbTooltip="{{'home.section-methodology.item-7.description' | translate}}">
                {{'home.section-methodology.item-7.title' | translate}}
            </li>
        </ul>

        <div class="row">
            <div class="col d-flex justify-content-end">
                <a class="btn btn-link text-secondary" target="_blank" routerLink="/metodologia">
                    {{'home.section-methodology.learn-more' | translate}}
                </a>
            </div>
        </div>
    </div>
</section>

<section class="section-container" id="calculadora">
    <a class="botao-calculadora" routerLink="/calculadora_terra_indigena">
        {{'home.section-calculator.button-link' | translate}}
    </a>
</section>

<section class="section-container bg-white" id="realizacao-apoio-parceiros">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <app-realizacao></app-realizacao>
            </div>
            <div class="col-auto">
                <app-apoio></app-apoio>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col"><app-parceiros></app-parceiros></div>
        </div>
    </div>

</section>