.section-header {
    background-image: url("../../../assets/images/bg-home-page.jpg");
    background-position: center;
    background-size: cover;
  }
  
  .section-header-bg {
    width: 100%;
    min-height: 70vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    padding: 50px 0;
  }
  
  .section-header h1 {
    color: white;
    font-size: 25px;
    font-weight: 400;
    line-height: 175%;
    text-align: center;
  }