@import url("https://fonts.googleapis.com/css2?family=Doppio+One&family=Gudea:ital,wght@0,400;0,700;1,400&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
@import "variables";
@import "bootstrap/scss/bootstrap";

.raleway-medium {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

body {
  font-family: "Gudea", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1rem;
}

.cursor-pointer {
  cursor: pointer;
}

#app-main {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-image: url("../assets/images/layout/background.png");
  background-size: contain;
}

#app-main-inner {
  padding-top: 75px;
}

#app-footer {
  margin-top: auto;
}

.section-container {
  width: 100%;
}

.main-container {
  background: #fff;
  padding: 50px 40px 30px;
  min-height: calc(100vh - 480px);
}

.bg-white {
  background: #fff;
}

.bg-gray {
  background: #f2f1f1;
}

.card-main {
  border: none;
  box-shadow: 5px 10px 15px gray;
}

.section-title {
  font-size: 3.75rem;
  font-weight: 400;
  font-family: "Doppio One", sans-serif;
  color: #5c5c5c;
}

.section-sub-title {
  font-size: 3.125rem;
  font-weight: 400;
  font-family: "Doppio One", sans-serif;
  color: #5c5c5c;
}

.section-small-title {
  font-size: 2rem;
  font-weight: 400;
  font-family: "Doppio One", sans-serif;
  color: #5c5c5c;
}

.section-text-color {
  color: #5c5c5c;
}

.calculadora-form label {
  font-size: 12px;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
}
.calculadora-form optgroup {
  color: rgb(33, 37, 41);
}

.calculadora-form select:required.ng-invalid {
  color: gray;
}

.calculadora-form option[value="null"][disabled] {
  display: none;
}

.calculadora-form option {
  color: var(--bs-body-color);
}

@media (max-width: 576px) {
  .section-title {
    font-size: 3.125rem;
  }

  .section-sub-title {
    font-size: 2.75rem;
  }
}
