@import url("https://fonts.googleapis.com/css2?family=Michroma&family=Open+Sans:wght@300;400;600;700&family=Roboto:ital,wght@0,400;0,700;0,900;1,400&");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import "variables";
@import "bootstrap/scss/bootstrap";

body {
  font-family: Roboto, -apple-system, BlinkMacSystemFont, "Segoe UI", Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 1rem;
}

.cursor-pointer {
  cursor: pointer;
}

#app-main {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-image: url("../assets/images/background.jpg");
}

#app-main-inner {
  padding-top: 75px;
}

#app-footer {
  margin-top: auto;
}

.main-container {
  background: #fff;
  padding: 50px 40px 30px 40px;
  min-height: calc(100vh - 480px);
  box-shadow: -5px 0px 5px #903d37, 5px 0px 5px #903d37;
}

.card-main {
  border: none;
  box-shadow: 5px 10px 15px gray;
}

.section-title {
  font-size: 2rem;
  font-weight: 500;
  font-family: "Montserrat", sans-serif;
}

.section-sub-title {
  font-size: 1.5rem;
  font-family: "Montserrat", sans-serif;
  width: fit-content;
  border-bottom: 2px solid gray;
}

.calculadora-form label {
  font-size: 12px;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
}
.calculadora-form optgroup {
  color: rgb(33, 37, 41);
}

.calculadora-form select:required.ng-invalid {
  color: gray;
}

.calculadora-form option[value="null"][disabled] {
  display: none;
}

.calculadora-form option {
  color: var(--bs-body-color);
}
