.st0 {
  clip-path: url(#SVGID_00000131366247857403609890000001631033274758491804_);
}

.st1 {
  fill: #073c29;
}

.st2 {
  fill: #bf7a4b;
}

.st3 {
  fill: #4e8974;
}

.st4 {
  clip-path: url(#SVGID_00000158712549634584071200000017591788777275956386_);
}

.st5 {
  clip-path: url(#SVGID_00000008118250807124851760000007511655150573733538_);
}

.st6 {
  clip-path: url(#SVGID_00000066495459985322631990000012232902488866288554_);
}

.st7 {
  clip-path: url(#SVGID_00000116927257939123466790000010842186867600379550_);
  fill: #d9cfc7;
  stroke: #000000;
  stroke-width: 0.5;
  stroke-miterlimit: 10;
}

.st8 {
  clip-path: url(#SVGID_00000041280041920605168860000018153472126991387556_);
  fill: #4e8974;
}

.st9 {
  clip-path: url(#SVGID_00000066510283113019109250000015890602396147959441_);
  fill: #5baec1;
}

.st10 {
  clip-path: url(#SVGID_00000068665514476652139870000003892094971274906514_);
  fill: #d9cfc7;
}

.st11 {
  clip-path: url(#SVGID_00000170241434944051511780000017213984470228741799_);
}

.st12 {
  fill: #d9cfc7;
  stroke: #8f857d;
  stroke-width: 0.9901;
  stroke-miterlimit: 10;
}

.st13 {
  fill: #8f857d;
}

.st14 {
  fill: none;
  stroke: #8f857d;
  stroke-width: 0.9901;
  stroke-miterlimit: 10;
}

.st15 {
  clip-path: url(#SVGID_00000042711930867404228380000004822643213172862136_);
}

.st16 {
  clip-path: url(#SVGID_00000051356213322220083840000004784344835062827691_);
}

.st17 {
  fill: #5baec1;
}

.st18 {
  clip-path: url(#SVGID_00000089572984548026567940000004716552969435901841_);
  fill: #1d1e1c;
}

.st19 {
  clip-path: url(#SVGID_00000132085579794024894240000013366222406906732450_);
  fill: #c98a45;
}

.st20 {
  clip-path: url(#SVGID_00000146473457073292325560000015214483760732114099_);
}

.st21 {
  fill: #d9cfc7;
}

.st22 {
  fill: none;
  stroke: #8f857d;
  stroke-width: 1.3561;
  stroke-miterlimit: 10;
}

.st23 {
  clip-path: url(#SVGID_00000119796255940475580250000018103790969311232682_);
}

.st24 {
  fill: #d9cfc7;
  stroke: #8f857d;
  stroke-width: 1.0122;
  stroke-miterlimit: 10;
}

.st25 {
  fill: none;
  stroke: #8f857d;
  stroke-width: 1.0122;
  stroke-miterlimit: 10;
}

.st26 {
  clip-path: url(#SVGID_00000025435788007177778170000013468872082556138923_);
}

.st27 {
  fill: #192a33;
}

.st28 {
  fill: #507659;
}

.st29 {
  clip-path: url(#SVGID_00000089542395555653366440000011016883047122138761_);
}

.st30 {
  fill: none;
  stroke: #4c8973;
  stroke-width: 0.2734;
  stroke-miterlimit: 10;
}

.st31 {
  fill: none;
  stroke: #4c8973;
  stroke-width: 0.2393;
  stroke-miterlimit: 10;
}

.st32 {
  fill: #2a5646;
}

.st33 {
  fill: #d9cfc7;
  stroke: #8f857d;
  stroke-width: 1.3561;
  stroke-miterlimit: 10;
}

.st34 {
  clip-path: url(#SVGID_00000134241795946886868950000002130969029773245627_);
}

.st35 {
  fill: none;
  stroke: #4c8973;
  stroke-width: 0.2846;
  stroke-miterlimit: 10;
}

.st36 {
  fill: none;
  stroke: #4c8973;
  stroke-width: 0.2491;
  stroke-miterlimit: 10;
}

.st37 {
  clip-path: url(#SVGID_00000108276376493795022310000009674117878833585340_);
}

.st38 {
  fill: none;
  stroke: #4c8973;
  stroke-width: 0.2624;
  stroke-miterlimit: 10;
}

.st39 {
  fill: none;
  stroke: #4c8973;
  stroke-width: 0.2297;
  stroke-miterlimit: 10;
}

.st40 {
  clip-path: url(#SVGID_00000135661402099651915340000014839862321502950017_);
  fill: #4e8974;
}

.st41 {
  clip-path: url(#SVGID_00000044869110955100653750000014162591225917456027_);
  fill: #4e8974;
}

.st42 {
  clip-path: url(#SVGID_00000029752398173134982720000008443500262024280200_);
  fill: #4e8974;
}

.st43 {
  clip-path: url(#SVGID_00000052809522767209134300000000553687993728735655_);
}

.st44 {
  clip-path: url(#SVGID_00000011738333941219605780000009579844919480070794_);
}

.st45 {
  clip-path: url(#SVGID_00000021114704715558774790000000968041676766266536_);
}

.st46 {
  fill: none;
  stroke: #51321d;
  stroke-width: 3.9104;
  stroke-miterlimit: 10;
}

.st47 {
  fill: #ffffff;
}

.st48 {
  fill: #243346;
}

.st49 {
  fill: none;
  stroke: #ffffff;
  stroke-width: 0.6715;
  stroke-miterlimit: 10;
}

.st50 {
  fill: none;
  stroke: #ffffff;
  stroke-width: 0.1679;
  stroke-miterlimit: 10;
}

.st51 {
  fill: #b55d37;
}

.st52 {
  fill: #1d1e1c;
}

.st53 {
  fill: #e2b307;
}

.st54 {
  fill: #eae9e5;
}

.st55 {
  fill: #a34c2e;
}

.st56 {
  fill: #9b4a2d;
}

.st57 {
  fill: none;
  stroke: #b5c4b8;
  stroke-width: 3.0845;
  stroke-miterlimit: 10;
}

.st58 {
  fill: #2f7dd1;
}

.st59 {
  fill: #9e4f33;
}

.st60 {
  fill: #d6432b;
}

.st61 {
  clip-path: url(#SVGID_00000079447893075923161090000003395722720163774109_);
}

.st62 {
  fill: none;
  stroke: #192a33;
  stroke-width: 1.687;
  stroke-miterlimit: 10;
}

.st63 {
  clip-path: url(#SVGID_00000070802322348052476570000002930225374572512141_);
  fill: none;
  stroke: #192a33;
  stroke-width: 1.687;
  stroke-miterlimit: 9.9999;
}

.st64 {
  clip-path: url(#SVGID_00000008827551129368867520000011047475088422028188_);
  fill: none;
  stroke: #192a33;
  stroke-width: 1.687;
  stroke-miterlimit: 9.9999;
}

.st65 {
  clip-path: url(#SVGID_00000013896847024301945340000003746150218478913214_);
  fill: none;
  stroke: #192a33;
  stroke-width: 1.687;
  stroke-miterlimit: 9.9999;
}

.st66 {
  clip-path: url(#SVGID_00000114755173154129221940000001679953048077217183_);
  fill: none;
  stroke: #192a33;
  stroke-width: 1.687;
  stroke-miterlimit: 9.9999;
}

.st67 {
  clip-path: url(#SVGID_00000154387111131730704680000002369491532186888104_);
  fill: #192a33;
}

.st68 {
  fill: #9e482b;
}

.st69 {
  fill: #357c38;
}

.st70 {
  fill: #e1b209;
}

.st71 {
  fill: #d8714c;
}

.st72 {
  clip-path: url(#SVGID_00000051360866521947718230000009709111037971555998_);
}

.st73 {
  fill: none;
  stroke: #192a33;
  stroke-width: 2.0737;
  stroke-miterlimit: 10;
}

.st74 {
  fill: none;
  stroke: #192a33;
  stroke-width: 2.0737;
  stroke-miterlimit: 9.9999;
}

.st75 {
  fill: #e2bb64;
}

.st76 {
  fill: #773e18;
}

.st77 {
  fill: #ad683a;
}

.st78 {
  fill: #91501f;
}

.st79 {
  fill: #b27539;
}

.st80 {
  fill: #9b622f;
}

.st81 {
  fill: none;
  stroke: #9e4f33;
  stroke-width: 0.9076;
  stroke-miterlimit: 10;
}

.st82 {
  fill: #c99367;
}

.st83 {
  clip-path: url(#SVGID_00000158731591195896440440000018081155091379810223_);
}

.st84 {
  fill: none;
  stroke: #1d1d1b;
  stroke-width: 1.5727;
  stroke-miterlimit: 10;
}

.st85 {
  clip-path: url(#SVGID_00000095296851924380463910000001201949623140543420_);
}

.st86 {
  clip-path: url(#SVGID_00000161599877866286395120000016574970723382803362_);
}

.st87 {
  clip-path: url(#SVGID_00000098217616291685035210000016293785502814192314_);
}

.st88 {
  clip-path: url(#SVGID_00000129182095764735681960000006488479586821158020_);
}

.st89 {
  clip-path: url(#SVGID_00000149351843119352787390000013456988606060291251_);
}

.st90 {
  clip-path: url(#SVGID_00000075871828654605903680000005751135389414006935_);
}

.st91 {
  clip-path: url(#SVGID_00000006674041832118720030000000503919857895535024_);
}

.st92 {
  fill: #96462a;
}

.st93 {
  fill: #b1e0ef;
}

.st94 {
  fill: none;
  stroke: #e2b307;
  stroke-width: 2.3484;
  stroke-miterlimit: 10;
}

.st95 {
  fill: #c15214;
}

.st96 {
  fill: #ed6e1b;
}

.st97 {
  fill: #6d3aaf;
}

.st98 {
  fill: #4b2684;
}

.st99 {
  fill: none;
  stroke: #1d1e1c;
  stroke-width: 1.1849;
  stroke-miterlimit: 10;
}

.st100 {
  fill: #b6c7ce;
}

.st101 {
  fill: #edefed;
}

.st102 {
  fill: none;
  stroke: #edefed;
  stroke-width: 1.1849;
  stroke-miterlimit: 10;
}

.st103 {
  fill: #c6c6c6;
}

.st104 {
  fill: #a2aaa2;
}

.st105 {
  fill: #c44b30;
}

.st106 {
  fill: none;
  stroke: #d8d0c7;
  stroke-width: 0.7611;
  stroke-miterlimit: 10;
}

.st107 {
  fill: none;
  stroke: #2f7dd1;
  stroke-width: 1.5732;
  stroke-miterlimit: 10;
}

.st108 {
  fill: #f4c327;
}

.st109 {
  fill: none;
  stroke: #c98a45;
  stroke-width: 1.0122;
  stroke-miterlimit: 10;
}

.st110 {
  fill: #192a33;
  stroke: #000000;
  stroke-width: 0.5;
  stroke-miterlimit: 10;
}

.st111 {
  fill: #ffffff;
  stroke: #000000;
  stroke-width: 0.5;
  stroke-miterlimit: 10;
}

.st112 {
  font-family: "Raleway";
  font-weight: 500;
}

.st113 {
  font-size: 13.0622px;
}

.st114 {
  font-size: 12.7208px;
}
