.section-title {
  padding-bottom: 2rem !important;
  color: #b81d00 !important;
}

.logos {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}

img {
  max-width: 160px;
}

#floresta-protegida {
  max-width: 200px;
}

#atix {
  max-height: 100px;
  filter: grayscale(1);
}

#yakio {
  max-height: 150px;
}

@media (max-width: 700px) {
  img {
    max-width: 130px;
  }

  #floresta-protegida {
    max-width: 180px;
  }

  #yakio {
    max-height: 130px;
  }
}
