<section class="mt-4">
    <h1 class="section-title">Parceiros Colaboradores</h1>

    <div class="logos">
        <a class="mb-3 me-3" href="https://www.florestaprotegida.org.br/" target="_blank">
            <img src="./assets/images/parceiros/floresta_protegida.png" alt="Associação Floresta Protegida"
                id="floresta-protegida">
        </a>
        <a class="mb-3 me-3" href="https://www.kabu.org.br/" target="_blank">
            <img src="./assets/images/parceiros/Instituto_kabu.png" alt="Instituto Kabu" id="kabu">
        </a>
        <a class="mb-3 me-3" href="https://institutoraoni.org.br/" target="_blank">
            <img src="./assets/images/parceiros/instituto_raoni.png" alt="Instituto Raoni" id="raoni">
        </a>
        <a class="mb-3 me-3" href="https://www.facebook.com/atixxingu/?locale=pt_BR" target="_blank">
            <img src="./assets/images/parceiros/atix.jpeg" alt="Associação Terra Indígena Xingu" id="atix">
        </a>
        <a class="mb-3 me-3" href="https://www.tnc.org.br/" target="_blank">
            <img src="./assets/images/parceiros/the_nature_conservancy_brasil.png" alt="The Nature Conservancy">
        </a>
        <a class="mb-3" href="https://xingumais.org.br/parceiro/iakio?id=473" target="_blank">
            <img src="./assets/images/parceiros/yakio_panara.png" alt="Associação Indígena Iakiô Paraná" id="yakio">
        </a>
    </div>
</section>