.st0 {
  clip-path: url(#SVGID_00000037689228486939850370000011346517454792283788_);
}

.st1 {
  clip-path: url(#SVGID_00000027576297490804031470000004170812287266263429_);
}

.st2 {
  fill: #073c29;
}

.st3 {
  fill: #bf7a4b;
}

.st4 {
  fill: #4e8974;
}

.st5 {
  clip-path: url(#SVGID_00000027576297490804031470000004170812287266263429_);
  fill: #d9cfc7;
  stroke: #000000;
  stroke-width: 0.5;
  stroke-miterlimit: 10;
}

.st6 {
  clip-path: url(#SVGID_00000027576297490804031470000004170812287266263429_);
  fill: #4e8974;
}

.st7 {
  clip-path: url(#SVGID_00000027576297490804031470000004170812287266263429_);
  fill: #5baec1;
}

.st8 {
  clip-path: url(#SVGID_00000027576297490804031470000004170812287266263429_);
  fill: #d9cfc7;
}

.st9 {
  fill: #d9cfc7;
  stroke: #8f857d;
  stroke-width: 0.9901;
  stroke-miterlimit: 10;
}

.st10 {
  fill: #8f857d;
}

.st11 {
  fill: #5baec1;
}

.st12 {
  clip-path: url(#SVGID_00000027576297490804031470000004170812287266263429_);
  fill: #1d1e1c;
}

.st13 {
  clip-path: url(#SVGID_00000027576297490804031470000004170812287266263429_);
  fill: #c98a45;
}

.st14 {
  fill: #d9cfc7;
}

.st15 {
  fill: #d9cfc7;
  stroke: #8f857d;
  stroke-width: 1.3561;
  stroke-miterlimit: 10;
}

.st16 {
  fill: #d9cfc7;
  stroke: #8f857d;
  stroke-width: 1.0122;
  stroke-miterlimit: 10;
}

.st17 {
  fill: #192a33;
}

.st18 {
  fill: #507659;
}

.st19 {
  fill: none;
  stroke: #4c8973;
  stroke-width: 0.2734;
  stroke-miterlimit: 10;
}

.st20 {
  fill: none;
  stroke: #4c8973;
  stroke-width: 0.2393;
  stroke-miterlimit: 10;
}

.st21 {
  fill: #2a5646;
}

.st22 {
  fill: none;
  stroke: #4c8973;
  stroke-width: 0.2846;
  stroke-miterlimit: 10;
}

.st23 {
  fill: none;
  stroke: #4c8973;
  stroke-width: 0.2491;
  stroke-miterlimit: 10;
}

.st24 {
  fill: none;
  stroke: #4c8973;
  stroke-width: 0.2624;
  stroke-miterlimit: 10;
}

.st25 {
  fill: none;
  stroke: #4c8973;
  stroke-width: 0.2297;
  stroke-miterlimit: 10;
}

.st26 {
  fill: #ffffff;
}

.st27 {
  fill: #2f7dd1;
}

.st28 {
  fill: #1d1e1c;
}

.st29 {
  fill: #f18918;
}

.st30 {
  fill: #9e4f33;
}

.st31 {
  fill: #e2b307;
}

.st32 {
  fill: #b55d37;
}

.st33 {
  clip-path: url(#SVGID_00000108987581807204157700000013223373224341963449_);
}

.st34 {
  fill: none;
  stroke: #192a33;
  stroke-width: 1.687;
  stroke-miterlimit: 10;
}

.st35 {
  clip-path: url(#SVGID_00000108987581807204157700000013223373224341963449_);
  fill: none;
  stroke: #192a33;
  stroke-width: 1.687;
  stroke-miterlimit: 10;
}

.st36 {
  clip-path: url(#SVGID_00000108987581807204157700000013223373224341963449_);
  fill: #192a33;
}

.st37 {
  fill: #9e482b;
}

.st38 {
  fill: #357c38;
}

.st39 {
  fill: #e1b209;
}

.st40 {
  fill: #243346;
}

.st41 {
  fill: #192a33;
  stroke: #000000;
  stroke-width: 0.5;
  stroke-miterlimit: 10;
}

.st42 {
  fill: #ffffff;
  stroke: #000000;
  stroke-width: 0.5;
  stroke-miterlimit: 10;
}

.st43 {
  font-family: "Raleway";
  font-weight: 500;
}

.st44 {
  font-size: 13.0622px;
}

.st45 {
  letter-spacing: 1;
}
