<app-page-title title="PGTAS"></app-page-title>

<div class="container main-container">
    <section>
        <ul style="list-style: none; padding-left: 0;">
            <li class="mb-3 justify-content-between align-items-start">
                <div class="ms-2 me-auto">
                    <div class="section-small-title">Arara da Volta Grande do Xingu</div>
                    <a class="text-secondary"
                        href="https://acervo.socioambiental.org/sites/default/files/documents/0id00095.pdf"
                        target="_blank">Acessar Arquivo
                    </a>
                </div>
            </li>
            <li class="mb-3 justify-content-between align-items-start">
                <div class="ms-2 me-auto">
                    <div class="section-small-title">Apyterewa</div>
                    <a class="text-secondary"
                        href="https://acervo.socioambiental.org/sites/default/files/documents/pkd00139.pdf"
                        target="_blank">Acessar Arquivo</a>
                </div>
            </li>
            <li class="mb-3 justify-content-between align-items-start">
                <div class="ms-2 me-auto">
                    <div class="section-small-title">Paquiçamba</div>
                    <a class="text-secondary"
                        href="https://acervo.socioambiental.org/sites/default/files/documents/0id00095.pdf"
                        target="_blank">Acessar Arquivo</a>
                </div>
            </li>
            <li class="mb-3 justify-content-between align-items-start">
                <div class="ms-2 me-auto">
                    <div class="section-small-title">Trincheira/Bacajá</div>
                    <a class="text-secondary"
                        href="https://acervo.socioambiental.org/sites/default/files/documents/XCL00005.pdf"
                        target="_blank">Acessar Arquivo</a>
                </div>
            </li>
            <li class="mb-3 justify-content-between align-items-start">
                <div class="ms-2 me-auto">
                    <div class="section-small-title">TIX (Batovi, Pequizal do Naruvôtu, Xingu e Wawi)</div>
                    <a class="text-secondary"
                        href="https://acervo.socioambiental.org/sites/default/files/publications/0pd00256_0.pdf"
                        target="_blank">Acessar Arquivo</a>
                </div>
            </li>
        </ul>
    </section>

</div>