<section>
    <h1 class="section-title mb-3">Parceiros Colaboradores</h1>

    <div class="d-flex flex-wrap justify-content-between">
        <a class="mb-3 me-1" href="https://www.florestaprotegida.org.br/" target="_blank">
            <img src="../../../assets/images/partners/floresta_protegida.jpg" alt="Associação Floresta Protegida">
        </a>
        <a class="mb-3 me-1" href="https://www.facebook.com/atixxingu/?locale=pt_BR" target="_blank">
            <img src="../../../assets/images/partners/atix_xingu.jpg" alt="Associação Terra Indígena Xingu">
        </a>
        <a class="mb-3 me-1" href="https://xingumais.org.br/parceiro/iakio?id=473" target="_blank">
            <img src="../../../assets/images/partners/iakio.jpg" alt="Associação Indígena Iakiô Paraná">
        </a>
        <a class="mb-3 me-1" href="https://www.kabu.org.br/" target="_blank">
            <img src="../../../assets/images/partners/intituto_kabu.jpg" alt="Instututo Kabu">
        </a>
        <a class="mb-3 me-1" href="https://institutoraoni.org.br/" target="_blank">
            <img src="../../../assets/images/partners/instituto_raoni.jpg" alt="Instituto Raoni">
        </a>
        <a class="mb-3" href="https://www.tnc.org.br/" target="_blank">
            <img src="../../../assets/images/partners/the_nature_conservancy.jpg" alt="The Nature Conservancy">
        </a>
    </div>
</section>