.cls-1,
.cls-18,
.cls-21,
.cls-29,
.cls-32 {
  fill: none;
}

.cls-2 {
  fill: #b27539;
}

.cls-3 {
  clip-path: url(#clip-path);
}

.cls-4 {
  clip-path: url(#clip-path-2);
}

.cls-11,
.cls-5,
.cls-8,
.cls-9 {
  fill: #d9cfc7;
}

.cls-37,
.cls-38,
.cls-5 {
  stroke: #000;
  stroke-width: 0.5px;
}

.cls-11,
.cls-18,
.cls-21,
.cls-29,
.cls-32,
.cls-37,
.cls-38,
.cls-5,
.cls-9 {
  stroke-miterlimit: 10;
}

.cls-6 {
  fill: #4e8974;
}

.cls-7 {
  fill: #5baec1;
}

.cls-11,
.cls-9 {
  stroke: #8f857d;
}

.cls-9 {
  stroke-width: 0.99px;
}

.cls-10 {
  fill: #8f857d;
}

.cls-11 {
  stroke-width: 1.36px;
}

.cls-12,
.cls-37 {
  fill: #192a33;
}

.cls-13 {
  fill: #507659;
}

.cls-14 {
  fill: #9e4f33;
}

.cls-15 {
  fill: #b55d37;
}

.cls-16 {
  fill: #1d1e1c;
}

.cls-17 {
  fill: #9b622f;
}

.cls-18 {
  stroke: #9e4f33;
  stroke-width: 0.91px;
}

.cls-19 {
  fill: #c99367;
}

.cls-20 {
  clip-path: url(#clip-path-3);
}

.cls-21 {
  stroke: #1d1d1b;
  stroke-width: 1.57px;
}

.cls-22 {
  clip-path: url(#clip-path-4);
}

.cls-23 {
  fill: #c15214;
}

.cls-24 {
  fill: #ed6e1b;
}

.cls-25 {
  fill: #6d3aaf;
}

.cls-26 {
  fill: #4b2684;
}

.cls-27 {
  fill: #96462a;
}

.cls-28,
.cls-38 {
  fill: #fff;
}

.cls-29 {
  stroke: #1d1e1c;
}

.cls-29,
.cls-32 {
  stroke-width: 1.18px;
}

.cls-30 {
  fill: #b6c7ce;
}

.cls-31 {
  fill: #edefed;
}

.cls-32 {
  stroke: #edefed;
}

.cls-33 {
  fill: #c6c6c6;
}

.cls-34 {
  fill: #a2aaa2;
}

.cls-35 {
  fill: #9b4a2d;
}

.cls-36 {
  fill: #d6432b;
}

.cls-39 {
  font-size: 13.06px;
  letter-spacing: 0.1em;
}

.cls-39,
.cls-44 {
  font-family: "Raleway";
  font-weight: 500;
}

.cls-40 {
  letter-spacing: 0.07em;
}

.cls-41 {
  letter-spacing: 0.09em;
}

.cls-42 {
  letter-spacing: 0.07em;
}

.cls-43 {
  letter-spacing: 0.07em;
}

.cls-44 {
  font-size: 12.72px;
  letter-spacing: 0.09em;
}

.cls-45 {
  letter-spacing: 0.07em;
}

.cls-46 {
  letter-spacing: 0.1em;
}

.cls-47 {
  letter-spacing: 0.1em;
}

.cls-48 {
  letter-spacing: 0.08em;
}

.cls-49 {
  letter-spacing: 0.09em;
}

.cls-50 {
  letter-spacing: 0.03em;
}
