<section class="section-container" id="header">
    <div class="container">
        <h1 class="section-title text-center">
            {{'methodology.title' | translate}}
        </h1>
    </div>
</section>

<section class="section-container bg-gray" id="calculadora">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 mb-5 align-self-center">
                <h1 class="section-sub-title">
                    {{'methodology.section-calculator.title' | translate}}
                </h1>
            </div>
            <div class="col-lg-8">
                <p>
                    {{'methodology.section-calculator.paragraph-1' | translate}}
                </p>
                <p class="mb-0">
                    {{'methodology.section-calculator.paragraph-2' | translate}}
                </p>
            </div>
        </div>
    </div>
</section>
<section class="section-container bg-white" id="custo-pgtas">
    <div class="container">
        <h1 class="section-sub-title text-center">
            {{'methodology.section-pgta-costs.title' | translate}}
        </h1>
        <p>
            {{'methodology.section-pgta-costs.paragraph-1' | translate}}
        </p>
        <p>
            {{'methodology.section-pgta-costs.paragraph-2' | translate}}
        </p>
    </div>
</section>

<section class="section-container bg-gray" id="tipos-custos-atividades">
    <div class="container">
        <h1 class="section-sub-title text-center">
            {{'methodology.section-types-of-costs.title' | translate}}
        </h1>
        <p>
            {{'methodology.section-types-of-costs.types' | translate}}:
        </p>
        <ul>
            <li>
                <b>{{'methodology.section-types-of-costs.type-1.title' | translate}}: </b>
                {{'methodology.section-types-of-costs.type-1.description' | translate}}
            </li>
            <li>
                <b>{{'methodology.section-types-of-costs.type-2.title' | translate}}: </b>
                {{'methodology.section-types-of-costs.type-2.description' | translate}}
            </li>
        </ul>
        <p>
            {{'methodology.section-types-of-costs.paragraph-1' | translate}}
        </p>
        <p>
            {{'methodology.section-types-of-costs.paragraph-2' | translate}}
        </p>
    </div>
</section>

<section class="section-container bg-white" id="divisao-ti">
    <div class="container">
        <h1 class="section-sub-title text-center">
            {{'methodology.section-division-of-indigenous-land.title' | translate}}
        </h1>
        <p>
            {{'methodology.section-division-of-indigenous-land.groups' | translate}}
        </p>
        <ol>
            <li>
                <b>{{'methodology.section-division-of-indigenous-land.group-1.title' | translate}}: </b>
                {{'methodology.section-division-of-indigenous-land.group-1.description' | translate}}
            </li>
            <li>
                <b>{{'methodology.section-division-of-indigenous-land.group-2.title' | translate}}: </b>
                {{'methodology.section-division-of-indigenous-land.group-2.description' | translate}}
            </li>
            <li>
                <b>{{'methodology.section-division-of-indigenous-land.group-3.title' | translate}}: </b>
                {{'methodology.section-division-of-indigenous-land.group-3.description' | translate}}
            </li>
        </ol>
        <p>
            {{'methodology.section-division-of-indigenous-land.paragraph-1' | translate}}
        </p>
    </div>
</section>

<section class="section-container bg-gray" id="coleta-dados">
    <div class="container">
        <h1 class="section-sub-title text-center">
            {{'methodology.section-data-collection.title' | translate}}
        </h1>
        <p>
            {{'methodology.section-data-collection.paragraph-1' | translate}}
        </p>
        <ul>
            <li>{{'methodology.section-data-collection.thematic-axe-1' | translate}}</li>
            <li>{{'methodology.section-data-collection.thematic-axe-2' | translate}}</li>
            <li>{{'methodology.section-data-collection.thematic-axe-3' | translate}}</li>
            <li>{{'methodology.section-data-collection.thematic-axe-4' | translate}}</li>
            <li>{{'methodology.section-data-collection.thematic-axe-5' | translate}}</li>
            <li>{{'methodology.section-data-collection.thematic-axe-6' | translate}}</li>
            <li>{{'methodology.section-data-collection.thematic-axe-7' | translate}}</li>
            <li>{{'methodology.section-data-collection.thematic-axe-8' | translate}}</li>
        </ul>
        <p>
            {{'methodology.section-data-collection.paragraph-2' | translate}}
        </p>
        <p>
            {{'methodology.section-data-collection.paragraph-3' | translate}}
        </p>
    </div>
</section>


<section class="section-container bg-white" id="saiba-mais">
    <div class="container">
        <h1 class="section-small-title text-center mb-0">
            {{'methodology.section-learn-more.title' | translate}}
        </h1>
        <div class="row">
            <div class="col d-flex justify-content-center mt-5">
                <a href="./assets/metodologia.pdf" class="btn btn-secondary rounded-pill px-5" target="_blank">
                    {{'methodology.section-learn-more.download' | translate}}
                </a>
            </div>
        </div>
    </div>
</section>