<div class="container main-container">
    <section>
        <h1 class="section-title mb-5">Metodologia</h1>
        <h2 class="section-sub-title mb-3">Modelo Conceitual</h2>
        <p>
            Para realizar as projeções de custos por Terra Indígena, eixos e atividades, a calculadora de custos
            estabelece relações estatísticas entre as características das Terras Indígenas, como tamanho, número de
            aldeias, nível de ameaça externa, complexidade de acesso, os possíveis níveis de implementação das
            atividades previstas nos Planos de Gestão de Terras Indígenas (PGTA), e seus custos médios de implementação.
            Cada atividade tem uma fórmula para prever os custos médios com base (i) nos gastos históricos médios de
            oito Terras Indígenas que tiveram dados coletados e analisados, e (ii) em projeções de custos para cenários
            hipotéticos que consideram mudanças possíveis nas características das terras indígenas e nos níveis de
            implementação das atividades ao longo do tempo. Desta forma, é possível calcular os custos conforme os
            níveis de implementação e as características das terras indígenas.
        </p>
        <p>
            Os valores de custos são obtidos pelas médias do que observamos na coleta de dados (ver metodologia
            completa),
            feita com as organizações indígenas e organizações de apoio que atuam diretamente na implementação das
            atividades
            relacionadas aos PGTAs. Por exemplo, se para uma dada atividade uma terra indígena gastou R$100.000 em um
            ano,
            e outra terra indígena com as mesmas características gastou R$200.000, o modelo fará a previsão de que o
            custo médio
            será de R$150.000 no ano. Ressaltamos que a comparação do valor médio previsto com o valor observado por uma
            terra específica
            sempre terá um nível de variação em relação à média (no exemplo, mais ou menos R$50.000). A implementação de
            uma atividade pode
            ter um custo abaixo (acima) da média por ter sido mais (menos) eficiente, o que não quer dizer que o modelo
            está fazendo previsões
            “erradas”, mas que há uma diferença entre o custo da atividade de uma organização e a média conjunta de
            todas as organizações.
            Assim, metade das previsões terão margem de erro “para cima”, e a outra metade terá margem de erro “para
            baixo”. Quando somamos
            as diversas atividades de um PGTA, essa margem de erro tende a se cancelar, ou seja, o valor total de um
            PGTA terá essa margem
            de erro suavizada.
        </p>
        <p>
            Os valores são categorizados segundo dois critérios: (i) tipo de custo e; (ii) tipo de atividade. São
            diferenciados dois
            tipos de custos: (i) valores de custos anuais de implementação de atividades, chamados de “valores
            correntes”, como por
            exemplo salários, manutenção de equipamentos, compra de gasolina, etc; (ii) valores de custos eventuais que
            são feitos,
            por exemplo, a cada 5 anos, 10 anos ou mais, chamados de “custos não recorrentes”, como investimentos em
            equipamentos e
            construções. Atenção: Algumas atividades dos custos não-recorrentes não possuem valores, pois as
            instituições consultadas
            não tiveram esse tipo de custo em campo, e por isso não foi possível prever valores para elas, o que não
            quer dizer que os
            custos não possam existir.

        </p>
        <p>
            Os tipos de atividade são agrupados por “Eixos Temáticos” (ver metodologia completa), definidos pelas
            equipes do Instituto Socioambiental (ISA)
            e Conservação Estratégica (CSF) com base nos PGTAs publicados das Terras Indígenas (TIs) da Bacia do Rio
            Xingu. São 8 eixos temáticos, resultando
            em um total de 29 atividades. Para cada atividade foi definida uma métrica para avaliar seu nível de
            implementação. As métricas são definidas
            segundo dois níveis gerais (i) implementação básica e (ii) implementação boa. Esses níveis foram
            subdivididos em valores intermediários, pois
            frequentemente o nível de implementação observado estava, por exemplo, entre o nível básico de implementação
            e o nível bom. Dessa forma, optou-se
            por uma classificação que considera os seguintes níveis de implementação: Nulo; Pré-básico; Básico; e Bom. A
            escala de nível de implementação é
            uma variável chave que impacta nos custos.

        </p>
        <p>
            Fazemos a distinção entre o nível de implementação atual e o nível desejado (no final do ano de
            implementação). Por exemplo, partir de um nível
            de implementação “Nulo” para um nível “Básico” terá um custo menor do que partir do nível “Nulo” para o
            nível “Bom”. Caso se queira obter o custo
            de simplesmente manter o nível “Básico” ou “Bom”, ambos os níveis atual e almejado devem ser definidos em
            “Básico” ou “Bom”.

        </p>
        <p>
            Por fim, as TIs estão divididas em dois grupos: o primeiro inclui 8 TIs com dados completos de custos e
            características na base de dados da calculadora;
            e o segundo é formado por 13 TIs, também localizados na Bacia do Xingu, porém, não incluídas na base de
            dados e com informações apenas sobre as suas características.
            Para essas terras, os valores são extrapolados com um nível maior de erro, e por isso recomendamos cuidado
            para considerar os valores previstos para o grupo de TIs extrapoladas.

        </p>

        <h2 class="section-sub-title mb-3">Coleta de Dados</h2>
        <p>
            Foram coletados dados históricos (2018 a 2022) relativos a despesas com atividades em oito eixos temáticos
            presentes na maioria dos PGTAs da região:
            governança; fiscalização e proteção; fortalecimento cultural; geração de renda; soberania alimentar;
            infraestruturas complementares (energia, comunicações e transportes);
            educação complementar; saúde e saneamento complementares. Ao todo a calculadora tem informações de 29
            atividades, para as quais foram construídas “métricas” que trazem informações
            sobre o que é preciso a TI ter para a atividade estar no nível de implementação básico e no nível de
            implementação bom.

        </p>
        <p>
            Foram coletados dados para as Terras Indígenas Apyterewa, Baú, Capoto-Jarina, Kayapó, Menkragnoti, Panará,
            TIX (Batovi, Pequizal do Naruvôtu, Xingu e Wawi) e Trincheira/Bacajá.
            As fontes de informação foram as principais organizações indígenas e da sociedade civil parceira que atuam
            nestas Terras Indígenas: Associação Floresta Protegida (AFP),
            Associação Iakiô Panará, Associação Terra Indígena do Xingu (ATIX), Instituto Kabu (IK), Instituto Raoni
            (IR), Instituto Socioambiental (ISA) e The Nature Conservancy.
            Foram também realizadas entrevistas com representantes destas organizações para a coleta de informações
            sobre características e contexto em que cada Terra Indígena se encontra,
            como tamanho, número de aldeias, grau de ameaça externa, complexidade de acesso, localização da sede da
            associação, entre outras, assim como para a projeção de cenários hipotéticos
            baseados na variação destas características e contexto.

        </p>
        <p>
            <strong class="me-1">Saiba mais sobre a metodologia em</strong> <a href="./assets/metodologia.pdf"
                target="_blank">baixar pdf</a>
        </p>
    </section>
</div>