#header {
  padding: 120px 0;
}

#calculadora {
  padding: 120px 0;
}

#custo-pgtas {
  padding: 75px 0;
  h1 {
    margin-bottom: 50px;
  }
}

#tipos-custos-atividades {
  padding: 75px 0;
  h1 {
    margin-bottom: 50px;
  }
}

#divisao-ti {
  padding: 75px 0;
  h1 {
    margin-bottom: 50px;
  }
}

#coleta-dados {
  padding: 75px 0;
  h1 {
    margin-bottom: 50px;
  }
}

#saiba-mais {
  padding: 75px 0;
  h1 {
    margin-bottom: 50px;
  }
}
