<section class="section-container" id="header">
    <div class="container">
        <h1 class="section-title text-center">METODOLOGIA</h1>
    </div>
</section>

<section class="section-container bg-gray" id="calculadora">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 mb-5 align-self-center">
                <h1 class="section-sub-title">A Calculadora</h1>
            </div>
            <div class="col-lg-8">
                <p>
                    A Calculadora de Custos de Gestão de Terras Indígenas é uma ferramenta online desenvolvida para
                    ajudar
                    organizações indígenas da bacia do Xingu no planejamento orçamentário e captação de recursos para
                    implementar seus Planos de Gestão Territorial e Ambiental (PGTAs), projetando custos relacionados
                    aos eixos
                    temáticos previstos.
                </p>
                <p class="mb-0">
                    Elaborada a partir de despesas históricas em oito territórios indígenas do Corredor Xingu e em
                    projeções de
                    custos para diferentes cenários, como mudanças na população, no grau de ameaça, no tamanho do
                    território,
                    entre outros, a calculadora permite calcular os custos associados à implementação dos PGTAs das
                    Terras
                    Indígenas. Esses custos serão atualizados conforme necessário.
                </p>
            </div>
        </div>
    </div>
</section>
<section class="section-container bg-white" id="custo-pgtas">
    <div class="container">
        <h1 class="section-sub-title text-center">Custo dos PGTAs</h1>
        <p>
            Para calcular os custos dos PGTAs, a calculadora estabelece relações estatísticas entre características das
            Terras Indígenas, como tamanho, número de aldeias, nível de ameaça, complexidade de acesso, as possíveis
            situações de investimento das atividades previstas nos Planos de Gestão de Terras Indígenas (PGTAs), e seus
            custos médios de implementação. Cada atividade tem uma fórmula para prever os custos médios com base (i) nos
            gastos históricos médios de oito Terras Indígenas que tiveram dados coletados e analisados, e (ii) em
            projeções de custos para cenários hipotéticos que consideram mudanças possíveis nas características das
            terras indígenas e na situação de investimento para a implementação das atividades ao longo do tempo. Desta
            forma, é possível calcular os custos conforme a situação de investimento de gestão e as características das
            terras indígenas.
        </p>
        <p>
            Os valores de custos são obtidos com base nas médias observadas na coleta de dados feita com organizações
            indígenas e de apoio. Por exemplo, se uma terra indígena gastou R$1.000.000 em uma atividade e outra terra
            com características semelhantes gastou R$2.000.000, o custo médio previsto será de R$1.500.000. A comparação
            entre o valor médio previsto e o valor real pode variar (ex.: ±R$500.000). Essa variação não indica erro no
            modelo, indica que há uma diferença entre o custo da atividade de uma organização e a média conjunta de
            todas as organizações. Assim, metade das previsões terão margem de erro para cima e a outra metade para
            baixo. Ao somar as diversas atividades de um PGTA, essa margem de erro tende a se cancelar, ou seja, o valor
            total de um PGTA terá essa margem de erro suavizada.
        </p>
    </div>
</section>

<section class="section-container bg-gray" id="tipos-custos-atividades">
    <div class="container">
        <h1 class="section-sub-title text-center">Tipos de Custos e Atividades</h1>
        <p>
            Os valores são categorizados em:
        </p>
        <ul>
            <li>
                <b>Custos recorrentes: </b>
                São os custos anuais de implementação das atividades como salários, manutenção de equipamentos, despesas
                frequentes das associações (cartório, aluguel, comunicação etc), oficinas anuais (combustível,
                alimentação etc), entre outras despesas.
            </li>
            <li>
                <b>Custos não recorrentes: </b>
                São os custos eventuais, feitos a cada 5 ou 10 anos, ou mais, como investimentos em equipamentos e
                construções. É importante ressaltar que algumas atividades dos custos não-recorrentes não possuem
                valores, pois as instituições consultadas não tiveram esse tipo de custo em campo, e por isso não foi
                possível prever valores para elas — o que não quer dizer que os custos não possam existir.
            </li>
        </ul>
        <p>
            As atividades são agrupadas por oito eixos temáticos e 29 atividades, definidos pelas equipes do Instituto
            Socioambiental (ISA) e Conservação Estratégica (CSF), com base nos PGTAs publicados das Terras Indígenas
            (TIs) da Bacia do Rio Xingu. Cada atividade possui métricas para avaliar sua situação de gestão. Para cada
            atividade foram definidas métricas, que correspondem aos itens necessários para indicar a situação de
            implementação da atividade.
        </p>
        <p>
            As métricas são definidas segundo dois níveis gerais (i) investimento para a gestão básica e (ii)
            investimento para a gestão boa. Esses níveis foram subdivididos, para a situação atual de gestão da terra,
            em valores intermediários, pois frequentemente a situação atual de gestão da terra observada estava, por
            exemplo, entre o investimento de gestão básica e o investimento de gestão boa. Dessa forma, optou-se por uma
            classificação que considera os seguintes níveis de investimento da situação atual de gestão: Não tem
            investimento; Nível de investimento precário; Nível de investimento básico; e Nível de investimento bom. A
            escala de situação de investimento é uma variável chave que impacta nos custos.
        </p>
    </div>
</section>

<section class="section-container bg-white" id="divisao-ti">
    <div class="container">
        <h1 class="section-sub-title text-center">Divisão das Terras Indígenas</h1>
        <p>
            Na Calculadora, as TIs são divididas em três grupos:
        </p>
        <ol>
            <li>
                <b>TIs com dados coletados: </b>
                8 TIs, da Bacia do Xingu, com dados de custos coletados junto às organizações indígenas e de
                apoio.
            </li>
            <li>
                <b>TIs com dados extrapolados: </b>
                13 TIs, da Bacia do Xingu, com informações sobre características (tamanho, população, grau de ameaça,
                etc.).
            </li>
            <li>
                <b>TIs simuladas: </b>
                Qualquer TI que o usuário queira simular.
            </li>
        </ol>
        <p>
            Para os dois últimos grupos, os valores são extrapolados com maior margem de erro e, por isso, recomenda-se
            cuidado para considerar os valores previstos para estes grupos.
        </p>
    </div>
</section>

<section class="section-container bg-gray" id="coleta-dados">
    <div class="container">
        <h1 class="section-sub-title text-center">Coleta de Dados</h1>
        <p>
            Foram coletados dados históricos (2018 a 2022) relativos a despesas com atividades em oito eixos temáticos
            presentes na maioria dos PGTAs da região:
        </p>
        <ul>
            <li>Governança</li>
            <li>Fiscalização e proteção</li>
            <li>Fortalecimento cultural</li>
            <li>Geração de renda</li>
            <li>Soberania alimentar</li>
            <li>Infraestruturas complementares (energia, comunicações e transportes)</li>
            <li>Educação complementar</li>
            <li>Saúde e saneamento complementares</li>
        </ul>
        <p>
            Ao todo, a calculadora considerou informações de 29 atividades, distribuídas nos oito eixos, para as quais
            foram construídas as “métricas” que trazem informações sobre o que é preciso a TI ter para a atividade estar
            no nível de implementação de gestão básica e no nível de implementação de gestão boa.
        </p>
        <p>
            Foram coletados dados para as Terras Indígenas Apyterewa, Baú, Capoto-Jarina, Kayapó, Menkragnoti, Panará,
            TIX (Batovi, Pequizal do Naruvôtu, Xingu e Wawi) e Trincheira/Bacajá. As fontes de informação foram as
            principais organizações indígenas e da sociedade civil parceira que atuam nestas Terras Indígenas:
            Associação Floresta Protegida (AFP), Associação Iakiô Panará, Associação Terra Indígena do Xingu (ATIX),
            Instituto Kabu (IK), Instituto Raoni (IR), Instituto Socioambiental (ISA) e The Nature Conservancy (TNC).
            Foram também realizadas entrevistas com representantes destas organizações para a coleta de informações
            sobre características e contexto em que cada Terra Indígena se encontra, como tamanho, número de aldeias,
            grau de ameaça externa, complexidade de acesso, localização da sede da associação, entre outras, assim como
            para a projeção de cenários hipotéticos baseados na variação destas características e contexto.
        </p>
    </div>
</section>


<section class="section-container bg-white" id="saiba-mais">
    <div class="container">
        <h1 class="section-small-title text-center mb-0">Saiba mais sobre a metodologia</h1>
        <div class="row">
            <div class="col d-flex justify-content-center mt-5">
                <a href="./assets/metodologia.pdf" class="btn btn-secondary rounded-pill px-5" target="_blank">
                    Baixar PDF
                </a>
            </div>
        </div>
    </div>
</section>