<div class="modal-header">
    <h4 class="modal-title">{{title}}</h4>
    <button type="button" class="btn-close" aria-describedby="modal-title"
        (click)="activeModal.close('Close click')"></button>
</div>
<div class="modal-body" ngbAutofocus>
    <section>
        <div *ngIf="description">{{description}}</div>
        <!-- type-of-cost -->
        <div *ngIf="type=='type-of-cost'">
            <p>
                {{'modal-form-details.type-of-cost.paragraph-1' | translate}}
            </p>
            <p>
                {{'modal-form-details.type-of-cost.paragraph-2' | translate}}
            </p>
            <p>
                {{'modal-form-details.type-of-cost.paragraph-3' | translate}}
            </p>
        </div>
        <!-- degree-of-threat -->
        <div *ngIf="type=='degree-of-threat'">
            <p>
                {{'modal-form-details.degree-of-threat.paragraph-1' | translate}}
            </p>
            <p>
                {{'modal-form-details.degree-of-threat.paragraph-2' | translate}}
            </p>
            <div class="table-responsive">
                <table class="table table-bordered table-sm">
                    <caption>
                        {{'modal-form-details.degree-of-threat.table-1.name' | translate}}
                    </caption>
                    <thead>
                        <tr>
                            <th>
                                {{'modal-form-details.degree-of-threat.table-1.header.col-1' | translate}}
                            </th>
                            <th>
                                {{'modal-form-details.degree-of-threat.table-1.header.col-2' | translate}}
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                {{'modal-form-details.degree-of-threat.table-1.line-1.col-1' | translate}}
                            </td>
                            <td>
                                {{'modal-form-details.degree-of-threat.table-1.line-1.col-2' | translate}}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                {{'modal-form-details.degree-of-threat.table-1.line-2.col-1' | translate}}
                            </td>
                            <td>
                                {{'modal-form-details.degree-of-threat.table-1.line-2.col-2' | translate}}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                {{'modal-form-details.degree-of-threat.table-1.line-3.col-1' | translate}}
                            </td>
                            <td>
                                {{'modal-form-details.degree-of-threat.table-1.line-3.col-2' | translate}}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                {{'modal-form-details.degree-of-threat.table-1.line-4.col-1' | translate}}
                            </td>
                            <td>
                                {{'modal-form-details.degree-of-threat.table-1.line-4.col-2' | translate}}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                {{'modal-form-details.degree-of-threat.table-1.line-5.col-1' | translate}}
                            </td>
                            <td>
                                {{'modal-form-details.degree-of-threat.table-1.line-5.col-2' | translate}}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                {{'modal-form-details.degree-of-threat.table-1.line-6.col-1' | translate}}
                            </td>
                            <td>
                                {{'modal-form-details.degree-of-threat.table-1.line-6.col-2' | translate}}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <p>
                {{'modal-form-details.degree-of-threat.paragraph-3' | translate}}
            </p>
            <div class="table-responsive">
                <table class="table table-bordered table-sm">
                    <caption>
                        {{'modal-form-details.degree-of-threat.table-2.name' | translate}}
                    </caption>
                    <thead>
                        <tr>
                            <th>
                                {{'modal-form-details.degree-of-threat.table-2.header.col-1' | translate}}
                            </th>
                            <th>
                                {{'modal-form-details.degree-of-threat.table-2.header.col-2' | translate}}
                            </th>
                            <th>
                                {{'modal-form-details.degree-of-threat.table-2.header.col-3' | translate}}
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                {{'modal-form-details.degree-of-threat.table-2.line-1.col-1' | translate}}
                            </td>
                            <td>
                                {{'modal-form-details.degree-of-threat.table-2.line-1.col-2' | translate}}
                            </td>
                            <td>
                                {{'modal-form-details.degree-of-threat.table-2.line-1.col-3' | translate}}
                            </td>
                        </tr>
                        <tr>
                            <td rowspan="4">
                                {{'modal-form-details.degree-of-threat.table-2.line-2.col-1' | translate}}
                            </td>
                            <td>
                                {{'modal-form-details.degree-of-threat.table-2.line-2.col-2' | translate}}
                            </td>
                            <td>
                                {{'modal-form-details.degree-of-threat.table-2.line-2.col-3' | translate}}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                {{'modal-form-details.degree-of-threat.table-2.line-3.col-2' | translate}}
                            </td>
                            <td>
                                {{'modal-form-details.degree-of-threat.table-2.line-3.col-3' | translate}}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                {{'modal-form-details.degree-of-threat.table-2.line-4.col-2' | translate}}
                            </td>
                            <td>
                                {{'modal-form-details.degree-of-threat.table-2.line-4.col-3' | translate}}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                {{'modal-form-details.degree-of-threat.table-2.line-5.col-2' | translate}}
                            </td>
                            <td>
                                {{'modal-form-details.degree-of-threat.table-2.line-5.col-3' | translate}}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <!-- complexity-of-access -->
        <div *ngIf="type=='complexity-of-access'">
            {{'modal-form-details.complexity-of-access' | translate}}
        </div>
        <!-- current-situation-->
        <div *ngIf="type=='current-situation'">
            <p>
                {{'modal-form-details.current-situation.paragraph-1' | translate}}
            </p>
            <p>
                {{'modal-form-details.current-situation.paragraph-2' | translate}}
            </p>
            <p>
                {{'modal-form-details.current-situation.paragraph-3' | translate}}
            </p>
            <p>
                {{'modal-form-details.current-situation.paragraph-4' | translate}}
            </p>
            <p>
                {{'modal-form-details.current-situation.paragraph-5' | translate}}
            </p>
        </div>
        <!-- current-situation-comparative -->
        <div *ngIf="type=='current-situation-comparative'">
            <p>
                {{'modal-form-details.current-situation-comparative.paragraph-1' | translate}}
            </p>
            <p>
                {{'modal-form-details.current-situation-comparative.paragraph-2' | translate}}
            </p>
            <p>
                {{'modal-form-details.current-situation-comparative.paragraph-3' | translate}}
            </p>
        </div>
        <!-- desired-situation -->
        <div *ngIf="type=='desired-situation'">
            <p>
                {{'modal-form-details.desired-situation.paragraph-1' | translate}}
            </p>
            <p>
                {{'modal-form-details.desired-situation.paragraph-2' | translate}}
            </p>
        </div>
        <!-- inflation -->
        <div *ngIf="type=='inflation'">
            {{'modal-form-details.inflation' | translate}}
            <a href="https://www.ibge.gov.br/explica/inflacao.php" target="_blank">
                https://www.ibge.gov.br/explica/inflacao.php
            </a>
        </div>
        <!-- thematic-axes -->
        <div *ngIf="type=='thematic-axes'">
            <p>
                {{'modal-form-details.thematic-axes.paragraph-1' | translate}}
            </p>
            <ul>
                <li>
                    {{'modal-form-details.thematic-axes.axe-1' | translate}}
                </li>
                <li>
                    {{'modal-form-details.thematic-axes.axe-2' | translate}}
                </li>
                <li>
                    {{'modal-form-details.thematic-axes.axe-3' | translate}}
                </li>
                <li>
                    {{'modal-form-details.thematic-axes.axe-4' | translate}}
                </li>
                <li>
                    {{'modal-form-details.thematic-axes.axe-5' | translate}}
                </li>
                <li>
                    {{'modal-form-details.thematic-axes.axe-6' | translate}}
                </li>
                <li>
                    {{'modal-form-details.thematic-axes.axe-7' | translate}}
                </li>
                <li>
                    {{'modal-form-details.thematic-axes.axe-8' | translate}}
                </li>
            </ul>
        </div>
    </section>
</div>